<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/atooltype.jquery.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

<div id="content">

<table id="rules_table" class='rulesview simplelisting'>
	<caption>Cluster scaling rules <span class='info'>&nbsp;</span></caption>
	<tr id='rules_head'><th colspan='5'>Condition</th><th colspan='2' class='then_head'></th><th>Action</th><th>Node selection</th></tr>
	
	<tr id='rule_model' class="hidden">
		<td class='editable_choice' choices='<TMPL_VAR NAME=VAR_CHOICES>'>indicator</td>
		<td class='editable_choice' choices='mean,max,min,deriv'>trans func</td>
		<td><span class='editable'>laps</span> sec</td>
		<td class='editable_choice' choices='&lsaquo;,&rsaquo;'>comp op</td>
		<td class='editable'>threshold</td>
		<td class='op_col'></td>
		<td class='then_col'></td>
		<td class='action_col editable_choice' choices='Add node, Remove node'>action</td>
		<td class='node_selection'>rand</td>
	</tr>
	
	<TMPL_LOOP NAME=RULES>
		<tr class="rule">
		<td class='indicator_name editable_choice' choices='<TMPL_VAR NAME=VAR_CHOICES>'><TMPL_VAR NAME=VAR></td>
		<td class='trans_func editable_choice' choices='mean,max,min,deriv'>mean</td>
		<td><span class='time_laps editable'><TMPL_VAR NAME=TIME_LAPS></span> sec</td>
		<td class='comp_op editable_choice' choices='&lsaquo;,&rsaquo;'><TMPL_IF NAME=INF>&lsaquo;<TMPL_ELSE>&rsaquo;</TMPL_IF></td>
		<td class='thresh_value editable'><TMPL_VAR NAME=VALUE></td>
		<td class='op_col'></td>
		<td class='then_col'></td>
		<td class='action_col'><TMPL_VAR NAME=ACTION></td>
		<td class='node_selection'>rand</td>
		</tr>
	</TMPL_LOOP>
</table>

<table class='rulesview simplelisting'>
<caption>Nodes control</caption>
<tr><th colspan='3'>Condition</th><th class='then_head'></th><th>Action</th></tr>
<tr>
	<td>One of all nodes</td>
	<td>process mpi</td>
	<td>not running</td>
	<td class='then_col'></td>
	<td>shut down node</td>
</tr>
</table>


<table class='rulesview simplelisting'>
<caption>Traps management</caption>
<tr><th colspan='1'>On trap</th><th class='then_head'></th><th>Action</th></tr>
<tr>
	<td>processing_done</td>
	<td class='then_col'></td>
	<td>shut down sender node</td>
</tr>
</table>

<div class="actions">
<a class="action imgAdding" id='add_cond_button'>add scale condition</a>
<p class="italic">Add a new condition based on cluster's activity.</p>
<a class="action operator_button" op='or'>OR operator</a>
<p class="italic">OR selected conditions.</p>
<a class="action">AND operator</a>
<p class="italic">AND selected conditions.</p>
<a class="action imgSave" id="save_orchestrator_settings">save</a>
<p class="italic">Save rules.</p>
</div>

<div class="actions">
<a class="action imgAdding" href="">add node condition</a>
<p class="italic">Add a new condition based on node's activity.</p>
</div>


</div>
<TMPL_INCLUDE NAME="footer.tmpl">