Source: kanopya-webui
Section: admin
Priority: optional
Maintainer: Hedera Dev Team <dev@hederatech.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://hederatech.org
Vcs-Git: git://git.kanopya.org/mcs/administrator.git

Package: kanopya-webui
Architecture: all
Depends: libconvert-color-perl, libdancer-perl, libplack-perl, libdancer-plugin-escapehtml-perl, libdancer-plugin-formvalidator-perl, libdancer-plugin-preprocess-sass-perl, starman, libtemplate-perl, libjson-perl, libkanopya-perl
Description: The web UI allows to manage kanopya from a web interface.
