Source: kanopya-webui
Section: admin
Priority: optional
Maintainer: Hedera Dev Team <dev@hederatech.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://hederatech.org
Vcs-Git: git://git.kanopya.org/mcs/administrator.git

Package: kanopya-webui
Architecture: all
Depends: apache2, libcgi-application-plugins-perl, libjson-perl, libhtml-template-perl, libcgi-application-perl, libcgi-fast-perl, libkanopya-perl, libapache2-mod-fcgid
Description: The web UI allows to manage kanopya from a web interface. Incredible.
