$color_darkgray: #666666; // /!\ Alredy defined in global.scss

h2 {
  color: $color_darkgray;
  margin-bottom: 30px; }

span.title {
  color: $color_darkgray;
  font-weight: bold;
  font-size: 1.2em;
  background-color: white;
  padding: 0 10px;
  text-decoration: underline;
  position: relative;
  top: -20px;
  margin-left: 20px;
  cursor: pointer; }

table caption.title {
  color: #AA8b22;
  font-weight: bold;
  font-size: 1.2em;
  background-color: white;
  padding: 0 10px;
  text-decoration: underline;
  position: relative;
  top: -20px;
  margin-left: 20px;
  cursor: pointer;
  border: 2px dotted  #AAA; }

.state {
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 20px; }

table.detailspart {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  .list td {
    height: 1em; }
  td {
    &.label {
      font-weight: bold;
      text-align: right;
      + td {
        min-width: 10em; } }
    &.actions {
      width: 30%;
      background-color: #F9F9FF;
      border: 2px dotted  #AAA;
      vertical-align: top;
      padding: 10px; } }
  a {
    color: $color_darkgray;
    background-repeat: no-repeat;
    padding-left: 20px;
    text-decoration: none; }
  td.actions .desc {
    font-size: 0.9em;
    font-style: italic; } }

/* table.detailspart td { border: thin solid black; } */

.bold {
  font-weight: bold; }

table {
  td {
    &.label2 {
      padding: 10px 0;
      border-bottom: thin solid #AAA; }
    &.action {
      border-bottom: thin solid #AAA; } }
  tr:hover td {
    &.label2, &.action {
      background-color: #DFD; } } }
