[ "$root_iscsi" ] || root_iscsi='1'
[ "$iscsi_sessions" ] || iscsi_sessions='2 1'
[ "$TargetName2" ] || TargetName2='iqn.2012-11.com.hederatech.nas:disk'
[ "$TargetAddress2" ] || TargetAddress2='10.20.0.1'
[ "$TargetPort2" ] || TargetPort2='3260'
[ "$TargetName1" ] || TargetName1='iqn.2012-11.com.hederatech.nas:disk'
[ "$TargetAddress1" ] || TargetAddress1='10.10.0.1'
[ "$TargetPort1" ] || TargetPort1='3260'
[ "$TargetPort" ] || TargetPort='3260'
