<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
@import url(/css/details.css);
</style>
<script type="text/javascript" src="/js/extern/jquery.js"></script>
<script type="text/javascript" src="/js/extern/jquery-ui.js"></script>
<script type="text/javascript" src="/js/atooltype.jquery.js"></script>
<script type="text/javascript" src="/js/orchestrator.js"></script>
<script type="text/javascript" src="/js/details.js"></script>

<div id="content">


<table id="sla_table" class='simplelisting rulesview'>
	<caption>QoS constraints (SLA)</caption>
	<tr><td>Max latency</td><td><TMPL_VAR NAME=QOS_CONSTRAINTS_LATENCY> ms</td></tr>
	<tr><td>Max abort rate</td><td><TMPL_VAR NAME=QOS_CONSTRAINTS_ABORT_RATE> %</td></tr>
</table>

<table id="workload_table" class='simplelisting rulesview'>
	<caption>Workload characteristic</caption>
	<tr><td>Visit ratio</td><td><TMPL_VAR NAME=WORKLOAD_VISIT_RATIO></td></tr>
	<tr><td>Service time</td><td><TMPL_VAR NAME=WORKLOAD_SERVICE_TIME> ms</td></tr>
	<tr><td>Delay</td><td><TMPL_VAR NAME=WORKLOAD_DELAY> ms</td></tr>
	<tr><td>Think time</td><td><TMPL_VAR NAME=WORKLOAD_THINK_TIME> ms</td></tr>
</table>


<div class="actions">
<a class="action imgSave" id="save_controller_settings">save</a>
<p class="italic">Save controller settings.</p>
</div>

</div>
<TMPL_INCLUDE NAME="footer.tmpl">