<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<script type="text/javascript" src="/js/extern/jquery.js"></script>
<script type="text/javascript" src="/js/extern/jquery-ui.js"></script>
<script type="text/javascript" src="/js/monitor.js"></script>

<div id="content">




<table id='graph_table' class="graphview simplelisting">
	<TMPL_LOOP NAME=GRAPHS>
		<tr><td><img src="<TMPL_VAR NAME=GRAPH>" alt="can't load image"></td></tr>
	</TMPL_LOOP>
</table>


<div class="actions">
<a class="action imgSettings" href="/cgi/kanopya.cgi/orchestration/view_controller_settings?cluster_id=<TMPL_VAR NAME=CLUSTER_ID>">settings</a>
<p class="italic">Controller settings.</p>

</div>

</div>
<TMPL_INCLUDE NAME="footer.tmpl">