<html>
<head>
	<title>Permissions settings</title>
</head>
<body>
<style type="text/css">@import url(/css/form.css);</style>
<div class="title">Permissions settings for user bidule on cluster truc</div>

<hr />
<table>
<tr><td><input type="checkbox"/></td><td>create new clusters</td></tr>
<tr><td><input type="checkbox"/></td><td>view cluster(s)</td></tr>
<tr><td><input type="checkbox"/></td><td>modify general informations</td></tr>
<tr><td><input type="checkbox"/></td><td>delete</td></tr>
<tr><td><input type="checkbox"/></td><td>activate</td></tr>
<tr><td><input type="checkbox"/></td><td>deactivate</td></tr>
<tr><td><input type="checkbox"/></td><td>start</td></tr>
<tr><td><input type="checkbox"/></td><td>stop</td></tr>
<tr><td><input type="checkbox"/></td><td>add node</td></tr>
<tr><td><input type="checkbox"/></td><td>remove node</td></tr>
<tr><td><input type="checkbox"/></td><td>add component</td></tr>
<tr><td><input type="checkbox"/></td><td>remove component</td></tr>
<tr><td><input type="checkbox"/></td><td>add component</td></tr>
</table>
<div class="buttons">
<input type="submit" value="apply"/>
<input type="button" value="cancel" onclick="javascript:window.close()"/>
</div>
</form> 
</body>	
</html>
