<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">@import url(/css/permissions.css);</style>
<div id="content">
<h2>Permissions on <TMPL_VAR NAME=entitytype> <TMPL_VAR NAME=entity_name></h2>
<table id="permissions">
<tr>
<td class="c1">for :</td>
<td><select id="consumer">
	<TMPL_IF NAME=usersgroupslist>
		<option class="bold" value="">Users'Groups:</option>
		<TMPL_LOOP NAME=usersgroupslist>
		<option value="<TMPL_VAR NAME=entity_id> <TMPL_VAR NAME=entitytype>"><TMPL_VAR NAME=groups></option>
		</TMPL_LOOP>
	</TMPL_IF>
	
	<TMPL_IF NAME=userslist>
		<option class="bold" value="">Users:</option>
		<TMPL_LOOP NAME=userslist>
		<option value="<TMPL_VAR NAME=entity_id> <TMPL_VAR NAME=entitytype>"><TMPL_VAR NAME=user></option>
		</TMPL_LOOP>
	</TMPL_IF>
</select><input type="hidden" name="entity_id" value="<TMPL_VAR NAME=entity_id>" />
</td>
<td><input id="viewset" type="button" value="view / set permissions" onclick="javascript:loadPermissions()"/></td>
</tr>
</table>
</div>
<script type="text/javascript">

function updateButtonState() {
	var consumer = document.getElementById('consumer');
	var button = document.getElementById('viewset');
	if((! consumer.options.length) || (consumer.options[consumer.options.selectedIndex].value == '')) {
		button.disabled = true;
	} else {
		button.disabled = false;
	}
}

function loadPermissions() {
	var url = '/cgi/kanopya.cgi/permissions/form_permissionsettings?';
	var consumer = document.getElementById('consumer');
	var consumertype = consumer.options[consumer.options.selectedIndex].value.split(' ')[1];
	var consumer_id = consumer.options[consumer.options.selectedIndex].value.split(' ')[0];
	url += 'consumertype=' + consumertype + '&consumer_id=' + consumer_id +'&consumedtype=<TMPL_VAR NAME=entitytype>&consumed_id=<TMPL_VAR NAME=entity_id>';
	openform(url, 'set permissions', 700, 500,'toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');
}


document.getElementById('consumer').onchange = updateButtonState;
updateButtonState();


</script>
<TMPL_INCLUDE NAME="footer.tmpl">



