<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">@import url(/css/permissions.css);</style>
<div id="content">
<h2><TMPL_VAR NAME=cluster_name> Permissions</h2>
<hr/>
<table class="detailspart">
<tr><td></td></tr>
</table>


</div>
<TMPL_INCLUDE NAME="footer.tmpl">



