<h2>Configuration for component Linux</h2>

<form>
    <table>
        <thead>
            <tr>
                <th>Device</th>
                <th>Mount point</th>
                <th>Fs-type</th>
                <th>Options</th>
                <th>Dump</th>
                <th>Pass</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {{for mountdefs}}
            <tr>
                <td><input type="text" value="{{:linux0_mount_device}}" name="linux0_mount_device" size="25" /></td>
                <td><input type="text" value="{{:linux0_mount_point}}" name="linux0_mount_point" size="25" /></td>
                <td><input type="text" value="{{:linux0_mount_filesystem}}" name="linux0_mount_filesystem" size="6" /></td>
                <td><input type="text" value="{{:linux0_mount_options}}" name="linux0_mount_options" /></td>
                <td><input type="text" value="{{:linux0_mount_dumpfreq}}" name="linux0_mount_dumpfreq" size="2" /></td>
                <td>
                    <input type="text" value="{{:linux0_mount_passnum}}" name="linux0_mount_passnum" size="2" />
                    <input type="hidden" value="{{:linux0_mount_id}}" name="linux0_mount_id" />
                </td>
                <td><a class="button delRowButton" rel="closethick"></a></td>
            </tr>
        {{/for}}
        </tbody>
    </table>
    <a id="addRow" class="button" rel="plusthick">Add a mount entry</button>
</form>
