[submodule "templates/components/puppetmaster/modules/glance"]
	path = templates/components/puppetmaster/modules/glance
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-glance.git
	branch = stable/havana
[submodule "templates/components/puppetmaster/modules/keystone"]
	path = templates/components/puppetmaster/modules/keystone
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-keystone.git
	branch = stable/havana
[submodule "templates/components/puppetmaster/modules/nova"]
	path = templates/components/puppetmaster/modules/nova
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-nova.git
	branch = stable/havana
[submodule "templates/components/puppetmaster/modules/openstack"]
	path = templates/components/puppetmaster/modules/openstack
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-openstack.git
	branch = stable/havana
[submodule "templates/components/puppetmaster/modules/cinder"]
	path = templates/components/puppetmaster/modules/cinder
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-cinder.git
	branch = stable/havana
[submodule "templates/components/puppetmaster/modules/apache"]
	path = templates/components/puppetmaster/modules/apache
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-apache.git
[submodule "templates/components/puppetmaster/modules/apt"]
	path = templates/components/puppetmaster/modules/apt
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-apt.git
[submodule "templates/components/puppetmaster/modules/inifile"]
	path = templates/components/puppetmaster/modules/inifile
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-inifile.git
[submodule "templates/components/puppetmaster/modules/dhcp"]
	path = templates/components/puppetmaster/modules/dhcp
	url = git://repository.intranet.hederatech.com/kanopya/puppetlabs-dhcp.git
	branch = master
[submodule "templates/components/puppetmaster/modules/firewall"]
	path = templates/components/puppetmaster/modules/firewall
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-firewall.git
[submodule "templates/components/puppetmaster/modules/haproxy"]
	path = templates/components/puppetmaster/modules/haproxy
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-haproxy.git
[submodule "templates/components/puppetmaster/modules/horizon"]
	path = templates/components/puppetmaster/modules/horizon
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-horizon.git
	branch = stable/havana
[submodule "templates/components/puppetmaster/modules/keepalived"]
	path = templates/components/puppetmaster/modules/keepalived
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-keepalived.git
[submodule "templates/components/puppetmaster/modules/memcached"]
	path = templates/components/puppetmaster/modules/memcached
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-memcached.git
[submodule "templates/components/puppetmaster/modules/lvm"]
	path = templates/components/puppetmaster/modules/lvm
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-lvm.git
[submodule "templates/components/puppetmaster/modules/mysql"]
	path = templates/components/puppetmaster/modules/mysql
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-mysql.git
[submodule "templates/components/puppetmaster/modules/ntp"]
	path = templates/components/puppetmaster/modules/ntp
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-ntp.git
[submodule "templates/components/puppetmaster/modules/rabbitmq"]
	path = templates/components/puppetmaster/modules/rabbitmq
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-rabbitmq.git
	branch = 2.x
[submodule "templates/components/puppetmaster/modules/stdlib"]
	path = templates/components/puppetmaster/modules/stdlib
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-stdlib.git
[submodule "templates/components/puppetmaster/modules/sysctl"]
	path = templates/components/puppetmaster/modules/sysctl
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-sysctl.git
[submodule "templates/components/puppetmaster/modules/neutron"]
	path = templates/components/puppetmaster/modules/neutron
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-quantum.git
	branch = stable/havana
[submodule "templates/components/puppetmaster/modules/vswitch"]
	path = templates/components/puppetmaster/modules/vswitch
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-vswitch.git
[submodule "templates/components/puppetmaster/modules/tftp"]
	path = templates/components/puppetmaster/modules/tftp
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-tftp.git
[submodule "templates/components/puppetmaster/modules/postgresql"]
	path = templates/components/puppetmaster/modules/postgresql
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-postgresql.git
[submodule "templates/components/puppetmaster/modules/puppetdb"]
	path = templates/components/puppetmaster/modules/puppetdb
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-puppetdb.git
[submodule "templates/components/puppetmaster/modules/xinetd"]
	path = templates/components/puppetmaster/modules/xinetd
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-xinetd.git
[submodule "templates/components/puppetmaster/modules/concat"]
	path = templates/components/puppetmaster/modules/concat
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-concat.git
[submodule "templates/components/puppetmaster/modules/ceph"]
	path = templates/components/puppetmaster/modules/ceph
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-ceph.git
[submodule "templates/components/puppetmaster/modules/ssh"]
	path = templates/components/puppetmaster/modules/ssh
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-ssh.git
[submodule "templates/components/puppetmaster/modules/rsync"]
	path = templates/components/puppetmaster/modules/rsync
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-rsync.git
[submodule "templates/components/puppetmaster/modules/swift"]
	path = templates/components/puppetmaster/modules/swift
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-swift.git
	branch = stable/havana
[submodule "templates/components/puppetmaster/modules/snmp"]
	path = templates/components/puppetmaster/modules/snmp
	url = git://repository.intranet.hederatech.com/puppet-labs/puppetlabs-snmp.git
	branch = master
