<html>
<head>
	<title>new processor model</title>
</head>
<body>
<style type="text/css">@import url(/css/form.css);</style>
<div class="title">create model of processor<TMPL_IF NAME=some_errors><span class="error">Some fields below are missing or invalid</span></TMPL_IF></div>
<form method="POST" action="/cgi/kanopya.cgi/models/process_addprocessormodel">
<table class="form">
	<tr>
		<td class="label">Brand :</td>
		<td><input type="text" name="brand" size="20"/><TMPL_VAR NAME=ERR_BRAND></td>
	</tr>
	<tr>
		<td class="label">Name :</td>
		<td><input type="text" name="name" size="20" /><TMPL_VAR NAME=ERR_NAME></td>
	</tr>
	<tr>
		<td class="label">Cores number :</td>
		<td><input type="text" name="coresnum" size="4" /><TMPL_VAR NAME=ERR_CORESNUM></td>
	</tr>
	<tr>
		<td class="label">Clock speed (GHz):</td>
		<td><input type="text" name="clockspeed" size="10" /><TMPL_VAR NAME=ERR_CLOCKSPEED></td>
	</tr>
	<tr>
		<td class="label">L2 cache (MB):</td>
		<td><input type="text" name="l2cache" size="10" /><TMPL_VAR NAME=ERR_L2CACHE></td>
	</tr>
	<tr>
		<td class="label">TDP (W):</td>
		<td><input type="text" name="tdp" size="4" /><TMPL_VAR NAME=ERR_TDP></td>
	</tr>
	<tr>
		<td class="label">64bits :</td>
		<td><select name="is64bits">
			<option value="1">yes</option>
			<option value="0">no</option>
		</select><TMPL_VAR NAME=ERR_IS64BITS></td>
	</tr>
	<tr>
        <td class="label">virtualization extensions :</td>
        <td><select name="virtsupport">
            <option value="1">yes</option>
            <option value="0">no</option>
        </select><TMPL_VAR NAME=ERR_VIRTSUPPORT></td>
    </tr>
</table>
<div class="buttons">
<input type="submit" value="ok"/>
<input type="button" value="cancel" onclick="javascript:window.close()"/>
</div>
</form> 
</body>	
</html>

