<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">@import url(/css/listing.css);</style>
<div id="content">
<table class="simplelisting">
	<caption>Motherboard Models</caption>
	<tr><th>model</th><th>chipset</th><th>processors<br/>number</th><th>consumption</th><th>iface<br/>number</th><th>RAM<br/>slots</th><th>RAM<br/>max</th><th></th></tr>
	<TMPL_LOOP NAME=motherboardmodels_list>
	<td><TMPL_VAR NAME=mmodel_brand> <span class="bold"><TMPL_VAR NAME=mmodel_name></span></td>
	<td><TMPL_VAR NAME=mmodel_chipset></td>
	<td class="right"><TMPL_VAR NAME=mmodel_processornum></td>
	<td class="right"><TMPL_VAR NAME=mmodel_consumption> W</td>
	<td class="right"><TMPL_VAR NAME=mmodel_ifacenum></td>
	<td class="right"><TMPL_VAR NAME=mmodel_ramslotnum></td>
	<td class="right"><TMPL_VAR NAME=mmodel_rammax> Go</td>
	<td><TMPL_IF NAME=can_update><a class="imgEdit">edit</a></TMPL_IF>
	<TMPL_IF NAME=can_delete><br /><a class="imgRemove" href="/cgi/kanopya.cgi/models/process_deletemotherboardmodel?motherboardmodel_id=<TMPL_VAR NAME=mmodel_id>">remove</a></TMPL_IF>
	<TMPL_IF NAME=can_setperm><br /><a class="imgPermission" href="/cgi/kanopya.cgi/permissions/view_selectconsumer?entitytype=Motherboardmodel&id=<TMPL_VAR NAME=mmodel_id>">permissions</a></TMPL_IF>
	</td>
	</tr>
	</TMPL_LOOP>
</table>
<table class="simplelisting">
	<caption>Processor Models</caption>
	<tr><th>model</th><th>cores</th><th>clock<br/>speed</th><th>L2 cache</th><th>TDP</th><th>64 bits</th><th>virtualization<br />extensions</th><th></th></tr>
	<TMPL_LOOP NAME=processormodels_list>
	<td><TMPL_VAR NAME=pmodel_brand> <span class="bold"><TMPL_VAR NAME=pmodel_name></span></td>
	<td class="right"><TMPL_VAR NAME=pmodel_corenum></td>
	<td class="right"><TMPL_VAR NAME=pmodel_clockspeed> GHz</td>
	<td class="right"><TMPL_VAR NAME=pmodel_l2cache> Mo</td>
	<td class="right"><TMPL_VAR NAME=pmodel_tdp> W</td>
	<td class="center"><TMPL_IF NAME=pmodel_is64>yes<TMPL_ELSE>no</TMPL_IF></td>
	<td class="center"><TMPL_IF NAME=pmodel_virt>yes<TMPL_ELSE>no</TMPL_IF></td>
	<td><TMPL_IF NAME=can_update><a class="imgEdit">edit</a></TMPL_IF>
	<TMPL_IF NAME=can_delete><br /><a class="imgRemove" href="/cgi/kanopya.cgi/models/process_deleteprocessormodel?processormodel_id=<TMPL_VAR NAME=pmodel_id>">remove</a></TMPL_IF>
	<TMPL_IF NAME=can_setperm><br /><a class="imgPermission" href="/cgi/kanopya.cgi/permissions/view_selectconsumer?entitytype=Processormodel&id=<TMPL_VAR NAME=pmodel_id>">permissions</a></TMPL_IF>
	</td>
	</tr>
	</TMPL_LOOP>
</table>
<div class="actions">
<TMPL_IF NAME=can_createmotherboardmodel>
<a class="action imgAdding" href="javascript:openform('/cgi/kanopya.cgi/models/form_addmotherboardmodel', 'create a motherboard model', 600, 400,'toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no')">create a motherboard model</a>
<p class="italic">Create a new model of motherboard.</p></TMPL_IF>
<TMPL_IF NAME=can_createprocessormodel>
<a class="action imgAdding" href="javascript:openform('/cgi/kanopya.cgi/models/form_addprocessormodel', 'create a processor model', 600, 400,'toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no')">create a processor model</a>
<p class="italic">Create a new model of processor.</p></TMPL_IF>&nbsp;
</div>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
