Source: kanopya-core
Section: admin
Priority: optional
Maintainer: Hedera Dev Team <dev@hederatech.com>
Build-Depends: debhelper (>= 7.0.50~), perl (>=5.10.0)
Standards-Version: 3.8.4
Homepage: http://hederatech.org
Vcs-Git: git://git.kanopya.org/mcs/executor.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/executor.git;a=summary

Package: kanopya-core
Architecture: all
Depends: ${perl:Depends}, bzip2, openssh-server, openssh-client, ntp, ntpdate, nmap, liblog-log4perl-perl, liblog-dispatch-perl, libdata-dumper-simple-perl, libxml-simple-perl, libexception-class-perl, libstring-random-perl, libnetaddr-ip-perl, libdate-simple-perl, libproc-pid-file-perl, libkanopya-perl, libnet-openssh-perl, etherwake, libtemplate-perl, libtest-pod-perl
Description: Core package contains kanopya executor and state manager. they apply conf on nodes
