<% css_head.push('list.css') %>

<% FOREACH component IN components_list %>
    <h1><% component.category %></h1>
    <% FOREACH details IN component.components %>
            <div class="multicolumn">
                <ul>
                    <li><span class="bold"><% details.name %></span></li>
                </ul>
                <br />
            </div>
    <% END %>
<% END %>
