<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>Sandbox</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/theme/jquery-ui-1.8.19.custom.css" />
<link rel="stylesheet" href="<% request.uri_base %>/css/ui.jqgrid.css" />
<link rel="stylesheet" href="<% request.uri_base %>/css/default/dashboardui.css" />
<link rel="stylesheet" href="<% request.uri_base %>/css/default/jquery-ui-1.8.2.custom.css" />
<script src="/javascripts/jquery/jquery-1.7.2.min.js"></script>
<script src="/javascripts/jquery/jquery-ui-1.8.19.custom.js"></script>
<script src='/javascripts/jquery/jquery.jqGrid.min.js'></script>
<script type='text/javascript' src='/javascripts/i18n/grid.locale-en.js'></script>
<script type="text/javascript" src="/javascripts/js/lib/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/js/lib/jquery.dashboard.min.js"></script>
<script type="text/javascript" src="/javascripts/js/lib/themeroller.js"></script>

<script type="text/javascript">
      // This is the code for definining the dashboard
      $(document).ready(function() {

        // load the templates
        $('body').append('<div id="templates"></div>');
        $("#templates").hide();
        $("#templates").load("templates.html", initDashboard);

        // call for the themeswitcher
        $('#switcher').themeswitcher();

        // call for the minimal dashboard
        function initDashboard() {
          var dashboard = $('#dashboard').dashboard({
            json_data : { url: "jsonfeed/mywidgets.json" }
          });
          dashboard.init();
        }
      });

    </script>

<script>
    $(document).ready(function () {
        $("#grid").jqGrid({ 
            //url:'/api/host', datatype: "json",
            datatype: "local",
            loadonce: true,
            height: 'auto',
                colNames : ['ID','Base hostname', 'Initiator name'],
                colModel : [ 
                            {name:'entity_id',index:'entity_id', width:100, sorttype:"int", hidden:true, key:true},
                            {name:'host_hostname',index:'host_hostname', width:150, sorttype:"date"},
                            {name:'host_initiatorname',index:'host_initiatorname', width:200,}
                          ],
            rowNum:5, rowList:[5,10,20,50],
            pager: '#grid_pager',
            caption: "Manipulating Array Data",
            altRows: true,
            onSelectRow: function (id) {
                alert('Select row: ' + id);
            },
        });
        $("#grid").jqGrid('navGrid','#grid_pager',{edit:false,add:false,del:false});
        
        $.getJSON('/api/host', {}, function(data) { 
            //alert(data);
            for(var i=0;i<=data.length;i++) $("#grid").jqGrid('addRowData',i+1,data[i]);
            $("#grid").setGridParam({rowNum:5}).trigger("reloadGrid");
            
        });

    });

</script>

	
</head>
<body>
<div class="header_tile_image">
    <div class="headerbox">
      <div id="switcher"></div>
    </div>
  </div>
  <div id="dashboard" class="dashboard">
    <div class="layout">
      <div class="column first column-first"></div>
      <div class="column second column-second"></div>
      <div class="column third column-third"></div>
    </div>
  </div>
</body>
</html>
