<form id="target" method="POST" action="/infrastructures/components/upload" enctype="multipart/form-data">
<table class="form">
<tr>
	<td><input type="file" name="componentfile" size="32" />
	<span style="color: red"><% err_componentfile %></span></td>
</tr>
</table>
</form> 

