<form id="target" method="POST" action="/systems/distributions/upload" enctype="multipart/form-data">
<table class="form">
<tr>
	<td><input type="file" name="distributionfile" size="32" />
	<span style="color: red"><% err_distributionfile %></span></td>
</tr>
</table>
</form> 

