<h2>Upload a new master image</h2>

<form id="target" method="POST" action="/systems/masterimages/upload" enctype="multipart/form-data">
<table class="form">
<tr>
	<td><input type="file" name="file" size="32" />
	<span style="color: red"><% err_masterimagefile %></span></td>
</tr>
</table>
</form> 

