<div id='view-container' class="pane ui-layout-center">
    <div id='view_a'>
        coucou
    </div>
    <div id='view_i'>
        pouet
    </div>
</div>
<div class="pane ui-layout-east">
</div>
<div id='mainmenu-container' class="pane ui-layout-west">
</div>
<div class="pane ui-layout-north">
</div>
<div class="pane ui-layout-south">
    <table id="grid-message"></table>
</div>