<div id='view-container' class="ui-layout-center">
</div>
<div class="ui-layout-east">
</div>
<div id='mainmenu-container' class="ui-layout-west">
</div>
<div class="ui-layout-north">
</div>
<div class="ui-layout-south">
    <table id="grid-message"></table>
</div>