<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">@import url(/css/details.css);</style>
<script type="text/javascript" src="/js/extern/jquery.js"></script>
<script type="text/javascript" src="/js/details.js"></script>

<div id="content">
<h2>Cluster : <TMPL_VAR NAME=cluster_name></h2>
<hr/>
<span id="state" class="title simpleexpand">State</span>
<table id="Xstate" class="detailspart">
<tr><TMPL_IF NAME=active><td>Active</td><TMPL_ELSE><td>Deactivated</td></TMPL_IF>
<td class="actions" rowspan="2">
<TMPL_IF NAME=link_activate>
	<TMPL_IF NAME=systemimage_active>
	<a class="imgActivate" href="/cgi/kanopya.cgi/clusters/process_activatecluster?cluster_id=<TMPL_VAR NAME=cluster_id>">
	<TMPL_ELSE>
	<a class="imgActivate" href="javascript:alert('System image <TMPL_VAR NAME=systemimage_name> used by this cluster must be active.');"></TMPL_IF>
activate</a><br />
<span class="desc">Activate this cluster to be able to start it.</span><br /><br />
<TMPL_ELSE>
	<TMPL_IF NAME=link_deactivate>
	<a class="imgDeactivate" href="/cgi/kanopya.cgi/clusters/process_deactivatecluster?cluster_id=<TMPL_VAR NAME=cluster_id>">deactivate</a><br />
	<span class="desc">Deactivate this cluster.</span><br /><br />
	</TMPL_IF>
	<TMPL_IF NAME=link_start>
	<a class="imgStart" href="/cgi/kanopya.cgi/clusters/process_startcluster?cluster_id=<TMPL_VAR NAME=cluster_id>">start</a><br />
	<span class="desc">Start this cluster.</span>
	</TMPL_IF>
	<TMPL_IF NAME=link_stop>
	<a class="imgStop" href="/cgi/kanopya.cgi/clusters/process_stopcluster?cluster_id=<TMPL_VAR NAME=cluster_id>">stop</a><br />
	<span class="desc">Stop this cluster.</span><br /><br />
	</TMPL_IF>
</TMPL_IF>
</td></tr><tr>
<TMPL_IF NAME=active>
<td>
<TMPL_IF NAME=state_up><span class="state imgUp">Up (<TMPL_VAR NAME=state_time>)</span></TMPL_IF>
<TMPL_IF NAME=state_down><span class="state imgDown">Down</span></TMPL_IF>
<TMPL_IF NAME=state_starting><span class="state imgDown">Starting... (<TMPL_VAR NAME=state_time>)</span></TMPL_IF>
<TMPL_IF NAME=state_stopping><span class="state imgDown">Stopping... (<TMPL_VAR NAME=state_time>)</span></TMPL_IF>
<TMPL_IF NAME=state_broken><span class="state imgWarning">Broken (<TMPL_VAR NAME=state_time>)</span></TMPL_IF>
 </td>
<TMPL_ELSE>
<td></td>
</TMPL_IF>
</tr>
</table>

<hr />
<span id="mainsettings" class="title simpleexpand">Main settings</span>
<table id="Xmainsettings" class="detailspart">
<tr><td class="italic" colspan="2"><TMPL_VAR NAME=cluster_desc></td>
<td class="actions" rowspan="10">
<TMPL_IF NAME=link_edit>
<a class="imgEdit" href="javascript:openform('/cgi/kanopya.cgi/clusters/form_editcluster?cluster_id=<TMPL_VAR NAME=cluster_id>', 'edit cluster', 800, 400, '');">edit</a><br />
<span class="desc">Modify these global parameters.</span><br /><br />
</TMPL_IF>
<TMPL_IF NAME=link_delete>
<a class="imgRemove" href="/cgi/kanopya.cgi/clusters/process_removecluster?cluster_id=<TMPL_VAR NAME=cluster_id>">delete</a><br />
<span class="desc">Delete this cluster.</span><br /><br /></TMPL_IF>
<TMPL_IF NAME=can_setperm>
<a class="imgPermission" href="/cgi/kanopya.cgi/permissions/view_selectconsumer?entitytype=Cluster&id=<TMPL_VAR NAME=cluster_id>">permission</a><br />
<span class="desc">View/set permissions on this cluster.</span><br /></TMPL_IF>
</td><tr/>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td class="label">Type :</td><td><TMPL_VAR NAME=type></td></tr>
<tr><td class="label">Priority :</td><td><TMPL_VAR NAME=cluster_priority></td></tr>
<tr><td class="label">Minimum nodes :</td><td><TMPL_VAR NAME=cluster_min_node></td></tr>
<tr><td class="label">Maximum nodes :</td><td><TMPL_VAR NAME=cluster_max_node></td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><TMPL_IF NAME=systemimage_name>
<td class="label">System Image :</td><td><TMPL_VAR NAME=systemimage_name> (<TMPL_IF NAME=systemimage_active>Active<TMPL_ELSE>Deactivated</TMPL_IF>)</td>
<TMPL_ELSE><td></td></TMPL_IF>
</tr>
<tr><td class="label">Kernel :</td><td><TMPL_VAR NAME=kernel></td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td class="label">Domain name :</td><td><TMPL_VAR NAME=cluster_domainname></td></tr>
<tr><td class="label">Name server :</td><td><TMPL_VAR NAME=cluster_nameserver></td></tr>
</table>

<hr/>
<span id="network" class="title simpleexpand">Network Configuration</span>
<table id="Xnetwork" class="detailspart list">
<TMPL_IF NAME=publicip_list>
<tr><td colspan="2">&nbsp;</td>
<td class="actions" rowspan="<TMPL_VAR NAME=NBPUBLICIPS>">
<a class="imgAdding" href="javascript:openform('/cgi/kanopya.cgi/clusters/form_setpubliciptocluster?cluster_id=<TMPL_VAR NAME=cluster_id>', 'Add a component', 500, 200, '');">add a virtual ip</a><br />
<span class="desc">Add a new virtual ip to this cluster.</span><br /><br />
</td></tr>
<TMPL_LOOP NAME=publicip_list>
<tr><td class="label2"><TMPL_VAR NAME=address> / <TMPL_VAR NAME=netmask> (gateway: <TMPL_VAR NAME=gateway>)</td>
<td class="action"><a class="imgRemove" href="/cgi/kanopya.cgi/clusters/process_unsetpublicipfromcluster?cluster_id=<TMPL_VAR NAME=cluster_id>&publicip_id=<TMPL_VAR NAME=publicip_id>">remove</a>
<input type="hidden" value="<TMPL_VAR NAME=name>"/>
<td></tr>
</TMPL_LOOP>
<TMPL_ELSE>
<tr><td colspan="2">no public ip defined.</td>
<td class="actions">
<a class="imgAdding" href="javascript:openform('/cgi/kanopya.cgi/clusters/form_setpubliciptocluster?cluster_id=<TMPL_VAR NAME=cluster_id>', 'Add a public ip', 500, 200, '');">add a virtual ip</a><br />
<span class="desc">Add a new virtual ip to this cluster.</span><br /><br />
</td></tr>
</TMPL_IF>
</table>

<hr/>
<span id="components" class="title simpleexpand">Components</span>
<table id="Xcomponents" class="detailspart list">
<TMPL_IF NAME=components_list>
<tr><td colspan="2">&nbsp;</td>
<td class="actions" rowspan="<TMPL_VAR NAME=NBCOMPONENTS>">
<TMPL_IF NAME=link_addcomponent>
<a class="imgAdding" href="javascript:openform('/cgi/kanopya.cgi/clusters/form_addcomponenttocluster?cluster_id=<TMPL_VAR NAME=cluster_id>', 'Add a component', 500, 200, '');">add a component</a><br />
<span class="desc">Add a new component to this cluster.</span><br /><br />
</TMPL_IF>
</td></tr>
<TMPL_LOOP NAME=components_list>
<tr><td class="label2"><span class="bold"><TMPL_VAR NAME=component_name><TMPL_VAR NAME=component_version></span> - <TMPL_VAR NAME=component_category></td>
<td class="action"><TMPL_IF NAME=link_configurecomponents><a class="imgConfigure" href="/cgi/kanopya.cgi/components/form_configurecomponent?component_instance_id=<TMPL_VAR NAME=component_instance_id>">configure</a></TMPL_IF>
<TMPL_IF NAME=link_remove><a class="imgRemove" href="/cgi/kanopya.cgi/clusters/process_removecomponent?cluster_id=<TMPL_VAR NAME=cluster_id>&component_instance_id=<TMPL_VAR NAME=component_instance_id>">remove</a></TMPL_IF>
</td></tr>
</TMPL_LOOP>
<TMPL_ELSE>
<tr><td colspan="2">no defined component.</td>
<td class="actions">
<TMPL_IF NAME=link_addcomponent>
<a class="imgAdding" href="javascript:openform('/cgi/kanopya.cgi/clusters/form_addcomponenttocluster?cluster_id=<TMPL_VAR NAME=cluster_id>', 'Add a component', 500, 200, '');">add a component</a><br />
<span class="desc">Add a new component to this cluster.</span><br /><br />
</TMPL_IF>
</td></tr>
</TMPL_IF>
</table>

<hr/>
<span id="nodes" class="title simpleexpand">Nodes</span>
<table id="Xnodes" class="detailspart list">
<TMPL_IF NAME=nodes_list>
<tr><td colspan="4">&nbsp;</td>
<td class="actions" rowspan="<TMPL_VAR NAME=nbnodesup>">
<TMPL_IF NAME=link_addnode>
<a class="imgAdding" href="/cgi/kanopya.cgi/clusters/process_addnode?cluster_id=<TMPL_VAR NAME=cluster_id>">add a node</a><br />
<span class="desc">Add a node to this cluster.</span><br /><br />
</TMPL_IF>
</td></tr>
<TMPL_LOOP NAME=nodes_list>
<tr><td class="label2"><span class="bold"><TMPL_VAR NAME=motherboard_hostname></span><TMPL_IF NAME=master_node> (master)</TMPL_IF></td>
<td class="label2">ip: <TMPL_VAR NAME=motherboard_internal_ip></td>
<td class="label2">
<TMPL_IF NAME=state_up><span class="state imgUp">Up (<TMPL_VAR NAME=state_time>)</span></TMPL_IF>
<TMPL_IF NAME=state_starting><span class="state imgDown">Starting...(<TMPL_VAR NAME=real_state> <TMPL_VAR NAME=state_time>)</span></TMPL_IF>
<TMPL_IF NAME=state_stopping><span class="state imgDown">Stopping...(<TMPL_VAR NAME=real_state_time> <TMPL_VAR NAME=state_time>)</span></TMPL_IF>
<TMPL_IF NAME=state_broken><span class="state imgWarning">Broken (<TMPL_VAR NAME=state_time>)</span></TMPL_IF>
</td>
<td class="action"><TMPL_IF NAME=link_remove><a class="imgRemove" href="/cgi/kanopya.cgi/clusters/process_removenode?cluster_id=<TMPL_VAR NAME=cluster_id>&motherboard_id=<TMPL_VAR NAME=motherboard_id>">remove</a>
</TMPL_IF></td></tr>
</TMPL_LOOP>
<TMPL_ELSE>
<tr><td>This cluster has no nodes</td></tr>
</TMPL_IF>
</table>

<hr/>
<span id="monitor" class="title simpleexpand">Monitoring</span>
<table id="Xmonitor" class="detailspart list">
<tr>
<td colspan="2">
<a class="imgMonitor" href="/cgi/kanopya.cgi/monitoring/view_clustermonitoring?cluster_id=<TMPL_VAR NAME=cluster_id>">activity</a>
</td>
<td class="actions">
<a class="action imgSettings" href="/cgi/kanopya.cgi/monitoring/view_clustermonitoring_settings?cluster_id=<TMPL_VAR NAME=cluster_id>">settings</a><bd/>
<p class="italic">Cluster collect and graph settings.</p>
</td></tr>
</table>

<hr/>
<span id="orchestrator" class="title simpleexpand">Orchestration</span>
<table id="Xmonitor" class="detailspart list">
<tr>
<td colspan="2"></td>
<td class="actions">
<a class="action imgSettings" href="/cgi/kanopya.cgi/orchestration?cluster_id=<TMPL_VAR NAME=cluster_id>">settings</a><bd/>
<p class="italic">Orchestration rules settings.</p>
</td></tr>
</table>

</div>
<TMPL_INCLUDE NAME="footer.tmpl">



