<html>
<head>
	<title>new hard disk</title>
</head>
<body>
<style type="text/css">@import url(/css/form.css);</style>
<div class="title">add a hard disk</div>
<TMPL_IF NAME=some_errors><span class="error">Some fields below are missing or invalid</span></TMPL_IF>
<form method="POST" action="/cgi/kanopya.cgi/motherboards/process_addharddisk">
<table class="form">
	<tr>
		<td class="label">Device :</td>
		<td><input type="text" name="device" size="32"/><TMPL_VAR NAME=ERR_DEVICE>
		<span style="color: red"><TMPL_VAR NAME=err_device></span></td>
		</td>
	</tr>
</table>
<div class="buttons">
<input type="submit" value="ok"/>
<input type="hidden" name="motherboard_id" value="<TMPL_VAR NAME=motherboard_id>"/>
<input type="button" value="cancel" onclick="javascript:window.close()"/>
</div>
</form> 
</body>	
</html>

