<html>
<head>
	<title>assign new public ip</title>
</head>
<body>
<style type="text/css">@import url(/css/form.css);</style>
<div class="title">Assign <TMPL_IF NAME=some_errors><span class="error">Some fields below are missing or invalid</span></TMPL_IF></div>
<form method="POST" action="/cgi/mcsui.cgi/clusters/process_setpubliciptocluster">
<table class="form">	
	<tr><td><select name="publicip_id">
		<TMPL_LOOP NAME=FREEPUBLICIPS>
			<option value="<TMPL_VAR NAME=PUBLICIP_ID>">
			<TMPL_VAR NAME=IP_ADDRESS>
			 | <TMPL_VAR NAME=IP_MASK>
			 | <TMPL_VAR NAME=GATEWAY>
			</option>
		</TMPL_LOOP>	
		</select></td>
	</tr>
</table>
<div class="buttons">
	<input type="hidden" name="cluster_id" value="<TMPL_VAR NAME=CLUSTER_ID>" />
	<input type="submit" value="ok"/>
	<input type="button" value="cancel" onclick="javascript:window.close()"/>
</div>
</form> 
</body>	
</html> 


