#!/bin/bash
[% FOREACH data_export=data_exports %]
iscsiadm -m node -T [% data_export.target %] -p [% nas_ip %]:[% nas_port %] --logout
[% END %]
iscsiadm -m node -T [% etc_target %] -p [% nas_ip %]:[% nas_port %] --logout
halt -d -f -p