auto lo
iface lo inet loopback

#TODO Mettre l'interface eth0 en generation ? NON sinon on perd la connection iscsi 
#lorsque le systeme reconfigure l'interface
#auto eth0
#iface eth0 inet dhcp

[% FOREACH interface=interfaces %]
auto [% interface.name %]
iface [% interface.name %] inet static
      address [% interface.address %]
      netmask [% interface.netmask %]
      [% IF interface.gateway %]
      gateway [% interface.gateway %]
      [% END %]

[% END %]