The operation "[% operation %]" ([% operation_id %]), from workflow "[% workflow %]" ([% workflow_id %]), [% SWITCH operation_state %]
[% CASE 'processing' %]is processing.
[% CASE 'succeeded' %]has been successfully executed.
[% CASE 'failed' %]has failed.
Error: [% reason %]
[% CASE 'cancelled' %]has failed, and has been cancelled.
Error: [% reason %]
[% CASE 'timeouted' %]reach the execution timeout.
[% CASE %]state changed to: [% operation_state %].
[% END %]
Kanopya execution system.