[% FOREACH target = targets %]
Target [% target.target_name %][% FOREACH lun = target.luns %]
	Lun [% lun.number %] Path=[% lun.device %],Type=[% lun.typeio %],IOMode=[% lun.iomode %][% END %]
[% END %]
