NAME = [% name %]
MEMORY = [% memory %]
CPU = 1
VCPU = [% cpu %]

[% IF hypervisor_name %]
REQUIREMENTS = "NAME = \"[% hypervisor_name %]\""
[% END %]

OS = [
	ARCH = x86_64,
    ROOT = sda1,
    BOOT = hd
]

DISK = [ IMAGE = "[% image_name %]" ]
	
[% FOREACH iface IN interfaces %]
NIC = [
	MAC = [% iface.mac %],
    NETWORK = "[% iface.network %]",
	MODEL = virtio
]
[% END %]

GRAPHICS = [
	TYPE = vnc,
	LISTEN = 0.0.0.0
]



