NAME    = [% vnet_name %]
TYPE    = [% vnet_type %]

[% IF vnet_vlanid %]
VLAN    = YES
VLAN_ID = [% vnet_vlanid %]
[% IF vnet_bridge %]
BRIDGE  = [% vnet_bridge %]
[% END %]
[% ELSE %]
VLAN    = NO
[% END %]
[% IF vnet_phydev %]
PHYDEV  = [% vnet_phydev %]
[% END %] 
LEASES  = [IP=[% vnet_netaddress %], MAC=[% vnet_mac %]]
