NAME    = [% vnet_name %]
TYPE    = [% vnet_type %]
BRIDGE  = [% vnet_bridge %]
[% IF vnet_vlanid %]
VLAN    = YES
VLAN_ID = [% vnet_vlanid %]
[% ELSE %]
VLAN    = NO
[% END %]
PHYDEV  = [% vnet_phydev %]
NETWORK_ADDRESS = [% vnet_netaddress %]

