<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
        <title>Microcluster Web Interface: login</title>
        <link rel="stylesheet" href="<% request.uri_base %>/css/login.css" />
    </head>

    <body>
        <img id="biglogo" src="/images/kanopya_logo.png" alt="" />
        <div id="container">
            <% content %>
        </div>

        <div class="small"><a href="http://hederatech.com/">Hedera Technology</a></div>
    </body>
</html>
