<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>Kanopya API</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap.min.css" />
<script src="/javascripts/jquery/jquery-1.7.2.js"></script>
<style>

    html, .container-fluid, .row-fluid, .column {
        height: 100%;
    }

    body { padding-top : 50px; height:90% }

    .column { overflow : auto; }

    table {
        table-layout : fixed;
        word-wrap : break-word;
    }
</style>
</head>
<body>
<script>
    $(document).ready(function() {
        var onResourceClick = function(){
            $('.nav-list .active').removeClass('active');
            var resource_name = $(this).text();
            $('.nav-list li').filter(function(){return $(this).text() == resource_name}).addClass('active');
            $('#resource-details').load('/api/doc/' + $(this).text(), function() {
                $('.resource_link a').click(onResourceClick);
            }).scrollTop(0);
        }
        $('#resource-list li').click(onResourceClick);
        $('#resource-list [href='+window.location.hash+']').click();
    });
</script>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#">Kanopya API v<% version %></a>
        <ul class="nav">
          <li class="active"><a href="">Resources</a></li>
        </ul>
      </div>
    </div>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="column span2">
            <ul id="resource-list" class="nav nav-list nav-fixed-sidebar">
              <li class="nav-header">Resources</li>
              <% FOREACH resource IN resources %>
                <li ><a href="#<% resource %>"><% resource %></a></li>
              <% END %>
            </ul>
        </div>
        <div id="resource-details" class="column span10">
        </div>
    </div>
</div>


</body>
</html>
