<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<script type="text/javascript" src="/js/extern/jquery.js"></script>
<script type="text/javascript" src="/js/components.js"></script>
<div id="content">
<h2>Cluster <TMPL_VAR NAME=CLUSTER_NAME> - Mount Table Configuration</h2>
<hr />
<form class="elem_root" name="conf">
<input class="conf_simple_value" type="hidden" name="component_instance_id" value="<TMPL_VAR NAME=component_instance_id>"/>
<input class="conf_simple_value" type="hidden" name="cluster_id" value="<TMPL_VAR NAME=cluster_id>"/>
<input class="conf_simple_value" type="hidden" name="component_name" value="Mounttable1"/>

<table class="conf_array_value" id="mounttable_mountdefs">
<tr><th>device</th><th>mount point</th><th>fs-type</th><th>options</th><th>dump</th><th>pass</th></tr>
<TMPL_LOOP NAME=mountdefs>
<tr class="elem_mounttable_mountdefs" name="mountdefs">
    <td><input type="text" size="25" class="mountdefs_simple_value" name="mounttable1_device" value="<TMPL_VAR NAME=mounttable1_device>" /></td>
    <td><input type="text" size="25" class="mountdefs_simple_value" name="mounttable1_mountpoint" value="<TMPL_VAR NAME=mounttable1_mountpoint>" /></td>
    <td><input type="text" size="6" class="mountdefs_simple_value" name="mounttable1_filesystem" value="<TMPL_VAR NAME=mounttable1_filesystem>" /></td>
    <td><input type="text" class="mountdefs_simple_value" name="mounttable1_options" value="<TMPL_VAR NAME=mounttable1_options>" /></td>
    <td><input type="text" maxlength="2" size="2" class="mountdefs_simple_value" name="mounttable1_dumpfreq" value="<TMPL_VAR NAME=mounttable1_dumpfreq>" /></td>
    <td><input type="text" maxlength="2" size="2" class="mountdefs_simple_value" name="mounttable1_passnum" value="<TMPL_VAR NAME=mounttable1_passnum>" />
    <input type="hidden" class="mountdefs_simple_value" name="mounttable1_id" value="<TMPL_VAR NAME=mounttable1_id>" />
    <a class="remove_mountdefs imgRemove iconAction"></a>
    </td>
    </tr>
</TMPL_LOOP>
</table><br/>
<a class="add_mounttable_mountdefs imgAdding iconAction" >Add mount definition</a>

<div class="right">
<input id="save_button" type="button" value="ok"/>
<input type="button" value="cancel" onclick="javascript:document.location='/cgi/kanopya.cgi/clusters/view_clusterdetails?cluster_id=<TMPL_VAR NAME=cluster_id>'"/>
</div>
</form>
</div>

<div class="hidden" id="models">
    <table class="conf_array_value" id="mounttable_mountdefs">
    <tr class="elem_mounttable_mountdefs" name="mountdefs">
    <td><input type="text" size="25" class="mountdefs_simple_value" name="mounttable1_device" value="" /></td>
    <td><input type="text" size="25" class="mountdefs_simple_value" name="mounttable1_mountpoint" value="" /></td>
    <td><input type="text" size="6" class="mountdefs_simple_value" name="mounttable1_filesystem" value="" /></td>
    <td><input type="text" class="mountdefs_simple_value" name="mounttable1_options" value="defaults" /></td>
    <td><input type="text" maxlength="2" size="2" class="mountdefs_simple_value" name="mounttable1_dumpfreq" value="0" /></td>
    <td><select class="mountdefs_simple_value" name="mounttable1_passnum" >
        <option selected value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <a class="remove_mountdefs imgRemove iconAction"></a>
    </td>
    </tr>
    </table>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">

