<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<script type="text/javascript" src="/js/extern/jquery.js"></script>
<script type="text/javascript" src="/js/components.js"></script>
<div id="content">
<h2>Cluster <TMPL_VAR NAME=CLUSTER_NAME> - Opennebula2 Configuration</h2>
<hr />
<form class="elem_root" name="conf">
<input class="conf_simple_value" type="hidden" name="component_instance_id" value="<TMPL_VAR NAME=component_instance_id>"/>
<input class="conf_simple_value" type="hidden" name="cluster_id" value="<TMPL_VAR NAME=cluster_id>"/>
<input class="conf_simple_value" type="hidden" name="opennebula2_id" value="<TMPL_VAR NAME=opennebula2_id>"/>
<input class="conf_simple_value" type="hidden" name="component_name" value="Opennebula2"/>

<table>
<tr><td class="bold right darkgreen">opennebula directory :</td><td><input type="text" size="64" class="conf_simple_value" name="install_dir" value="<TMPL_VAR NAME=install_dir>"/></td></tr>
<tr><td class="bold right darkgreen">host monitoring interval :</td><td><input type="text" size="5" class="conf_simple_value" name="host_monitoring_interval" value="<TMPL_VAR NAME=host_monitoring_interval>"/></td></tr>
<tr><td class="bold right darkgreen">vm polling interval :</td><td><input type="text" size="5" class="conf_simple_value" name="vm_polling_interval" value="<TMPL_VAR NAME=vm_polling_interval>"/></td></tr>
<tr><td class="bold right darkgreen">vm directory :</td><td><input type="text" size="64" class="conf_simple_value" name="vm_dir" value="<TMPL_VAR NAME=vm_dir>"/>
<tr><td class="bold right darkgreen">scripts remote directory :</td><td><input type="text" size="64" class="conf_simple_value" name="scripts_remote_dir" value="<TMPL_VAR NAME=scripts_remote_dir>"/>
<tr><td class="bold right darkgreen">images repository directory :</td><td><input type="text" size="64" class="conf_simple_value" name="image_repository_path" value="<TMPL_VAR NAME=image_repository_path>"/>
<tr><td class="bold right darkgreen">port :</td><td><input type="text" size="5" class="conf_simple_value" name="port" value="<TMPL_VAR NAME=port>"/>
<tr><td class="bold right darkgreen">log level :</td>
<td><select class="conf_simple_value" name="debug_level">
<option id="0" value="0">error</option>
<option id="1" value="1">warning</option>
<option id="2" value="2">info</option>
<option id="3" value="3">debug</option>
</select></td>
</table>

<div class="right">
<input id="save_button" type="button" value="ok"/>
<input type="button" value="cancel" onclick="javascript:document.location='/cgi/kanopya.cgi/clusters/view_clusterdetails?cluster_id=<TMPL_VAR NAME=cluster_id>'"/>
</div>
</form>
</div>

<div class="hidden" id="models">

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
<script type="text/javascript">
document.getElementById('<TMPL_VAR NAME=debug_level>').selected=1;
</script>
