<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/components.js"></script>
<div id="content">
<h2>Cluster <TMPL_VAR NAME=CLUSTER_NAME> - NFSd3 Configuration</h2>
<hr />
<form class="elem_root" name="conf">
<input class="conf_simple_value" type="hidden" name="component_instance_id" value="<TMPL_VAR NAME=component_instance_id>"/>
<input class="conf_simple_value" type="hidden" name="cluster_id" value="<TMPL_VAR NAME=cluster_id>"/>
<input class="conf_simple_value" type="hidden" name="nfsd3_id" value="<TMPL_VAR NAME=nfsd3_id>"/>
<input class="conf_simple_value" type="hidden" name="component_name" value="Nfsd3"/>
<table>
<tr><td>statd options: </td><td><input class="conf_simple_value" type="text" name="nfsd3_statdopts" value="<TMPL_VAR NAME=nfsd3_statdopts>" disabled /></td></tr>
<tr><td>need GSSD: </td><td><select class="conf_simple_value" name="nfsd3_need_gssd" selected_value="<TMPL_VAR NAME=nfsd3_need_gssd>" disabled >
<option value="no">no</option>
<option value="yes">yes</option>
</select></td></tr>
<tr><td>Number of servers to start up: </td><td><input class="conf_simple_value" type="text" name="nfsd3_rpcnfsdcount" value="<TMPL_VAR NAME=nfsd3_rpcnfsdcount>" disabled /></td></tr>
<tr><td>Runtime priority of server: </td><td><input class="conf_simple_value" type="text" name="nfsd3_rpcnfsdpriority" value="<TMPL_VAR NAME=nfsd3_rpcnfsdpriority>" disabled /></td></tr>
<tr><td>Options for rpc.mountd: </td><td><input class="conf_simple_value" type="text" name="nfsd3_rpcmountopts" value="<TMPL_VAR NAME=nfsd3_rpcmountopts>" disabled /></td></tr>
<tr><td>start svcgssd: </td><td><select class="conf_simple_value" name="nfsd3_need_svcgssd" selected_value="<TMPL_VAR NAME=nfsd3_need_svcgssd>" disabled >
<option value="no">no</option>
<option value="yes">yes</option>
</select></td></tr>
<tr><td>Options for rpc.svcgssd: </td><td><input class="conf_simple_value" type="text" name="nfsd3_rpcsvcgssdopts" value="<TMPL_VAR NAME=nfsd3_rpcsvcgssdopts>" disabled /></td></tr>
</table>

<hr />
<h3>Exports</h3>
<ul class="conf_array_value" id="exports">
<TMPL_LOOP NAME=exports>
	<li name="export">	
		Device to export: 
		<input type="text" name="nfsd3_export_path" value="<TMPL_VAR NAME=nfsd3_export_path>" disabled />
		<table id="clients">
			<TMPL_LOOP NAME=clients>
				<tr name="client">
					<td>Host(s):<input type="text" size="20" name="nfsd3_exportclient_name" value="<TMPL_VAR NAME=nfsd3_exportclient_name>" disabled /></td>
					<td>Options:<input type="text" size="50" name="nfsd3_exportclient_options" value="<TMPL_VAR NAME=nfsd3_exportclient_options>" disabled /></td></td>
                    
				</tr>
			</TMPL_LOOP>
		</table>
    </li>
</TMPL_LOOP>
</ul>
<a class="add_exports imgAdding iconAction" >Add export</a>
<hr />

<div class="right">
<input id="save_button" type="button" value="ok"/>
<input type="button" value="cancel" onclick="javascript:document.location='/cgi/kanopya.cgi/clusters/view_clusterdetails?cluster_id=<TMPL_VAR NAME=cluster_id>'"/>
</div>
</form>
</div>

<div class="hidden" id="models">
<ul class="conf_array_value" id="exports">
	<li class="elem_exports" name="export">	
		Device to export: 
		<input class="export_simple_value" type="text" name="nfsd3_export_path" value=""/>
		<a class="remove_export imgRemove iconAction" ></a>
		<table class="export_array_value" id="clients">
				<tr class="elem_clients" name="client">
					<td>Host(s):<input class="client_simple_value" type="text" size="20" name="nfsd3_exportclient_name" value=""/></td>
					<td>Options:<input class="client_simple_value" type="text" size="50" name="nfsd3_exportclient_options" value=""/></td></td>
                    
				</tr>
		</table>
		
	</li>
</ul>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">

