<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<script type="text/javascript" src="/js/extern/jquery.js"></script>
<script type="text/javascript" src="/js/components.js"></script>
<div id="content">
<h2>Cluster <TMPL_VAR NAME=CLUSTER_NAME> - Keepalived Configuration</h2>
<hr />
<form class="elem_root" name="conf">
<input class="conf_simple_value" type="hidden" name="component_instance_id" value="<TMPL_VAR NAME=component_instance_id>"/>
<input class="conf_simple_value" type="hidden" name="cluster_id" value="<TMPL_VAR NAME=cluster_id>"/>
<input class="conf_simple_value" type="hidden" name="keepalived_id" value="<TMPL_VAR NAME=keepalived_id>"/>
<input class="conf_simple_value" type="hidden" name="component_name" value="Keepalived1"/>
<table>
<tr><td class="bold right darkgreen">daemon method :</td><td>
<select class="conf_simple_value" name="daemon_method">
<option id="master">master</option>
<option id="backup">backup</option>
<option id="both">both</option>
</select>
</td></tr>
<tr><td class="bold right darkgreen">notification email :</td><td><input type="text" size="64" class="conf_simple_value" name="notification_email" value="<TMPL_VAR NAME=notification_email>"/></td></tr>
<tr><td class="bold right darkgreen">notification email from:</td><td><input type="text" size="64" class="conf_simple_value" name="notification_email_from" value="<TMPL_VAR NAME=notification_email_from>"/></td></tr>
<tr><td class="bold right darkgreen">smtp server address :</td><td><input type="text" class="conf_simple_value" name="smtp_server" value="<TMPL_VAR NAME=smtp_server>"/></td></tr>
<tr><td class="bold right darkgreen">smtp connection timeout :</td><td><input type="text" size="5" class="conf_simple_value" name="smtp_connect_timeout" value="<TMPL_VAR NAME=smtp_connect_timeout>"/>
<input class="conf_simple_value" type="hidden" name="lvs_id" </td></tr>
</table>
<hr />
<h3>Virtual Servers definition</h3>

<hr />
<div class="right">
<input id="save_button" type="button" value="ok"/>
<input type="button" value="cancel" onclick="javascript:document.location='/cgi/kanopya.cgi/clusters/view_clusterdetails?cluster_id=<TMPL_VAR NAME=cluster_id>'"/>
</div>
</form>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
<script type="text/javascript">
document.getElementById('<TMPL_VAR NAME=daemon_method>').selected=1;
</script>
