<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/components.js"></script>
<div id="content">
<h2>Cluster <TMPL_VAR NAME=CLUSTER_NAME> - Dhcpd3 Configuration</h2>
<hr />
<input type="hidden" name="component_instance_id" value="<TMPL_VAR NAME=component_instance_id>"/>
<input type="hidden" name="cluster_id" value="<TMPL_VAR NAME=cluster_id>"/>
<input type="hidden" name="apache2_id" value="<TMPL_VAR NAME=apache2_id>"/>
<input type="hidden" name="component_name" value="Apache2"/>
<table>
    <tr><th>domain name : </th><td><TMPL_VAR NAME=domain_name></td></tr>
    <tr><th>domain name server : </th><td><TMPL_VAR NAME=domain_name_server></td></tr>
    <tr><th>server name : </th><td><TMPL_VAR NAME=server_name></td></tr>
    <tr><th>server ip : </th><td><TMPL_VAR NAME=server_ip></td></tr>
</table>
<br/>
<h3>hosts</h3>
<br/>
<table>
    <TMPL_LOOP NAME=subnets>
    <tr><th>subnet : </th><td><TMPL_VAR NAME=net></td><th>netmask : </th><td><TMPL_VAR NAME=mask></td></tr>
    <TMPL_LOOP NAME=nodes>
    <tr><th></th><td><TMPL_VAR NAME=domain_name></td></tr>
    <tr><th></th><td><TMPL_VAR NAME=domain_name_server></td></tr>
    <tr><th></th><td><TMPL_VAR NAME=ntp_server></td></tr>
    <tr><th></th><td><TMPL_VAR NAME=ip_address></td></tr>
    <tr><th></th><td><TMPL_VAR NAME=mac_address></td></tr>
    <tr><th></th><td><TMPL_VAR NAME=hostname></td></tr>
    <tr><th></th><td><TMPL_VAR NAME=kernel_version></td></tr>
    </TMPL_LOOP>
    </TMPL_LOOP>     
</table>
<input type="button" value="ok" onclick="javascript:document.location='/cgi/kanopya.cgi/clusters/view_clusterdetails?cluster_id=<TMPL_VAR NAME=cluster_id>'"/>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">

