<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">@import url(/css/listing.css);</style>
<div id="content">
<table class="listing">
<TMPL_LOOP NAME=components_list>
<tr><td><h1><TMPL_VAR NAME=category></h1></td></tr>
<TMPL_LOOP NAME=components>
<tr><td><span class="bold"><TMPL_VAR NAME=name></span> <TMPL_VAR NAME=version></td></tr>
</TMPL_LOOP>
<tr><td><hr/></td></tr>
</TMPL_LOOP>
</table>
<div class="actions">
<a class="action imgUploadcomponent" href="javascript:openform('/cgi/kanopya.cgi/components/form_uploadcomponent', 'Component Upload', 600, 200, '');">upload new component</a>
<p class="italic">Upload and deploy a new component.<br/>Deployed components can be installed on system images.</p>
</div>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
