<TMPL_INCLUDE NAME="header.tmpl">

<script language="Javascript">
function display_graph(graph_class) {
	graphs = document.getElementsByClassName('multi_graph');
	for(i=0;i<graphs.length;i++) {
		g = graphs[i];		
		g.style.display = 'none';
	}
	graphs = document.getElementsByClassName(graph_class);
	for(i=0;i<graphs.length;i++) {
		g = graphs[i];		
		g.style.display = 'block';
	}
}

</script>


<div id="contentright">

	<br/><br/><br/><br/><br/><br/><br/><br/>

	<button type="button" onclick="display_graph('graph_day')" >Click Me!</button>

	<p>
		<table>
			<tr>
				<th ALIGN=CENTER>file</th>
				<th ALIGN=CENTER>graph</th>
			</tr>
		<TMPL_LOOP NAME=GRAPHS>
			<tr>
		    		<td ALIGN=CENTER><TMPL_VAR NAME=FILE></td>
		      		<td ALIGN=CENTER>
		      			<img class="graph multi_graph graph_custom" src='<TMPL_VAR NAME=DIR_ALIAS><TMPL_VAR NAME=FILE>'/>
		      			<img class="graph multi_graph graph_day" style='display:none' src='<TMPL_VAR NAME=DIR_ALIAS>monitor/graph/graph_CLUSTY_virt_total.png'/>
		      		</td>
		      		<!--
		      		<img class='graph' src="<TMPL_VAR NAME=GRAPH_FILE>" id="reloader_<TMPL_VAR NAME=GRAPH_INFO>" onload="setTimeout('document.getElementById(\'reloader_<TMPL_VAR NAME=GRAPH_INFO>\').src=\'<TMPL_VAR NAME=GRAPH_FILE>?\'+new Date().getMilliseconds()', 5000)" />
		      		-->
			</tr>
		</TMPL_LOOP>
		</table>
	</p>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">