<html>
<head>
<link href="/css/global.css" rel="stylesheet" type="text/css" media="screen" />
<title>MC Admin</title>
</head>
<body text=black link=blue alink=red >

<!--- menu at the top --->
<div id="container">
	<div id="header">
		<img id="logo" src="/images/logo.png" />
	
	</div>

	<div id="menu">
		<div id="mainmenu">
			<a class="empty">&nbsp;</a>
			<a class="begin" href="">Welcome</a>
			<a class="select">Microcluster</a>
			<a href="">Configuration</a>
			<a class="end" href="">Help</a>
			<a class="logout" href="index.html"><span class="bold black">User</span> : logout</a>
			
		</div>
		<div id="submenu">
			<a>&nbsp;</a>
			<TMPL_IF NAME=MENU_CLUSTERS>
				<a class="select">Clusters</a>
			<TMPL_ELSE>
				<a href="clusters.cgi">Clusters</a>
			</TMPL_IF>
			<TMPL_IF NAME=MENU_MOTHERBOARDS>
				<a class="select">Motherboards</a>
			<TMPL_ELSE>
				<a href="motherboards.cgi">Motherboards</a>
			</TMPL_IF>
		</div>
	</div>


<TMPL_IF NAME=ERROR_OCCURS>
<p align=center>
     <span style="color:red"><TMPL_VAR NAME=ERROR_MESS></span>
</p>
</TMPL_IF>
