<TMPL_INCLUDE NAME="header.tmpl">

<div id="contentleft">
	<p>
	<span class="title">Graph options</span>
	Select the set to display and
	choose indicators you want.
	</p>
	<p><hr /></p>
		<form NAME="form" ACTION="/cgi-bin/monitoring.cgi" METHOD="POST">
			<TMPL_LOOP NAME=INDICATORS_SET>
				<p>
				<input type="radio" name="indicator_set" value="<TMPL_VAR NAME=SET_NAME>" <TMPL_VAR NAME=SELECTED> /> <b><TMPL_VAR NAME=SET_NAME></b><br/>
				<TMPL_LOOP NAME=INDICATORS >
					<dd/><input type="checkbox" name="indicator[]" value="<TMPL_VAR NAME=INDICATOR_NAME>" <TMPL_VAR NAME=CHECKED> /> <TMPL_VAR NAME=INDICATOR_NAME><br/>
				</TMPL_LOOP>
				</p>
			</TMPL_LOOP>
	<p><hr /></p>
			<input type="radio" name="graph_type" value="stack" <TMPL_VAR NAME=GRAPH_TYPE_STACK_SELECTION>/> stack
			<input type="radio" name="graph_type" value="line" <TMPL_VAR NAME=GRAPH_TYPE_LINE_SELECTION>/> line 
	<p><hr /></p>
			<input TYPE="submit" NAME="submit_show" VALUE="Show">
		</form>
	<p><hr /></p>
</div>

<div id="contentright">

	<p>
		<table id="graph_table">
		<!--caption ALIGN=TOP>Monitored hosts</CAPTION-->
			<tr>
				<th ALIGN=CENTER>Host</th>
				<th ALIGN=CENTER><TMPL_VAR NAME=SELECTED_SET_NAME></th>
			</tr>
		<TMPL_LOOP NAME=HOSTS_INFO>
			<tr>
		    		<td ALIGN=CENTER><TMPL_VAR NAME=HOST_NAME></td>
		      		<td ALIGN=CENTER><img src='<TMPL_VAR NAME=GRAPH_FILE>'/></td>
			</tr>
		</TMPL_LOOP>
		</table>
	</p>
	
</div>

<TMPL_INCLUDE NAME="footer.tmpl">