<TMPL_INCLUDE NAME="header.tmpl">

<p ALIGN=CENTER>
<table BORDER=1 CELLSPACING=2 CELLPADDING=10>
<caption ALIGN=TOP>Operations list</CAPTION>
	<tr bgcolor="silver">
		<th ALIGN=CENTER>ID</th>
		<th ALIGN=CENTER>Creation date</th>
		<th ALIGN=CENTER>Creation time</th>
	</tr>
<TMPL_LOOP NAME=MOTHERBOARDS>
	<tr onmouseover="this.style.backgroundColor='grey';" onmouseout="this.style.backgroundColor='white';">
    		<td ALIGN=CENTER><a href='getOperations.pl?select_id=<TMPL_VAR NAME=ID>'><TMPL_VAR NAME=ID></a></td>
      		<td ALIGN=CENTER><TMPL_VAR NAME=CREATION_DATE></td>
		<td ALIGN=CENTER><TMPL_VAR NAME=CREATION_TIME></td>
	</tr>
</TMPL_LOOP>
</table>
</p>

<TMPL_IF NAME=SELECTED_MB_ID>
<p>
<b>Motherboard <TMPL_VAR NAME=SELECTED_MB_ID></b><br/>
Model: <TMPL_VAR NAME=SELECTED_MB_MODEL>
</p>
<form NAME="form" ACTION="/cgi-bin/addMotherboard.pl" METHOD="POST">
<input TYPE="hidden" NAME="mb_id" VALUE=<TMPL_VAR NAME=SELECTED_MB_ID> >
<input TYPE="submit" NAME="submit_edit" VALUE="Edit">
</form>
<form NAME="form" ACTION="/cgi-bin/getAllMotherboards.pl" METHOD="POST">
<input TYPE="hidden" NAME="mb_id" VALUE=<TMPL_VAR NAME=SELECTED_MB_ID> >
<input TYPE="submit" NAME="submit_delete" VALUE="Delete">
</form>

</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
