<graphs>
<nodecount><img src="<TMPL_VAR NAME=NODECOUNT_GRAPH>" alt="kanopya-grapher must be running to see graph"/></nodecount>
<node_list>
<TMPL_LOOP NAME=GRAPHS>
	<node id='<TMPL_VAR NAME=ID>'>
		<table class='simplelisting'>
		<TMPL_LOOP NAME=SETS>
				<tr id='<TMPL_VAR NAME=SET_NAME>' class='set_selector'>
					<TMPL_IF NAME=NO_GRAPH>
						<td>graph missing</td>
					<TMPL_ELSE>
						<td><img src="<TMPL_VAR NAME=IMG_SRC>" alt="missing graph"/></td>
					</TMPL_IF>
				</tr>
		</TMPL_LOOP>
		</table>
	</node>
</TMPL_LOOP>
</node_list>
</graphs>