<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

<div id="content">


<!--button id='fold_all'>fold</button-->



<table id='graphchoices'>
<tr>

<td class='period_selectors'>
<table class=''>
<tr><th>
<a id="period_label">Hourly</a>
<ul>
	<li id='hour' class='period_selector selected_period' >Hourly</li>
	<li id='day'  class='period_selector' >Daily</li>
	<!--li id='custom' class='period_selector' >Custom</li-->
</ul>
</th></tr>
</table>

</td>

<td>
<table class='set_selectors simplelisting'>
	<tr>
	<TMPL_LOOP NAME=SETS>
		<th id='<TMPL_VAR NAME=ID>' class='set_selector'><TMPL_VAR NAME=LABEL></th>
	</TMPL_LOOP>
	</tr>
</table>
</td>



</tr>
</table>

<table id='graph_table' class="graphview simplelisting">
	<tr>
		<td></td><td id='nodecount_graph'><img class='autorefresh' src="<TMPL_VAR NAME=NODECOUNT_GRAPH>" alt="kanopya-grapher must be running to see graph"/></td>
	</tr>
	<tr>
		<td id='<TMPL_VAR NAME=CLUSTER_NAME>' class='node_selector imgMonitCluster'><TMPL_VAR NAME=CLUSTER_NAME></td>
		<td id='<TMPL_VAR NAME=CLUSTER_NAME>_content' class='content_container'></td>
	</tr>
	<TMPL_LOOP NAME=NODES>
		<tr>
			<td id='<TMPL_VAR NAME=ID>' class='node_selector imgMonitMotherboard'><TMPL_VAR NAME=NAME><TMPL_IF NAME=MASTER> (master) </TMPL_IF></td>
			<td id='<TMPL_VAR NAME=ID>_content' class='content_container'></td>
		</tr>
	</TMPL_LOOP>
</table>

<div class="actions">
<a class="action imgSettings" href="/cgi/kanopya.cgi/monitoring/view_clustermonitoring_settings?cluster_id=<TMPL_VAR NAME=CLUSTER_ID>">settings</a>
<p class="italic">Cluster collect and graph settings.</p>

<a class='action imgClock' >Graph period</a>
<ul class="italic">
	<li id='hour' class='period_selector selected_period' >Hourly</li>
	<li id='day'  class='period_selector' >Daily</li>
	<!--li id='custom' class='period_selector' >Custom</li-->
</ul>

</div>

</div>
<TMPL_INCLUDE NAME="footer.tmpl">