<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/kanopiaui-tools.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

<div id="content">

<table class='simplelisting monitor_settings'>
	<caption>Cluster monitoring configuration</caption>
	<tr>
		<th>Set</th>
		<th>Collect</th>
		<th>Graph</th>
	</tr>
	<tr><td colspan='3'></td></tr>
	<TMPL_LOOP NAME=SETS>
			<tr>
				<th id='<TMPL_VAR NAME=LABEL>' class='expander'><TMPL_VAR NAME=LABEL></th>
				<td class='select_collect <TMPL_IF NAME=COLLECTED>collected</TMPL_IF>'></td>
				<td class='select_graph <TMPL_IF NAME=GRAPHED>graphed</TMPL_IF>'></td>
			</tr>
			<tr id='X<TMPL_VAR NAME=LABEL>' class='graph_settings_<TMPL_VAR NAME=LABEL>'>
	
			<td colspan='2'>
			
			<TMPL_IF NAME=IS_TABLE>
				<table class='expandable hidden'>
				<tr><td>Table</td></tr>
				<tr><td colspan='2'>
				<table>
			<TMPL_ELSE>
				<table class='expandable hidden'>
			</TMPL_IF>
					<TMPL_LOOP NAME=DS>
						<tr>
							<td><TMPL_VAR NAME=DS_NAME></td>
							<td id='<TMPL_VAR NAME=DS_NAME>' class='select_ds <TMPL_IF NAME=ON_GRAPH>on_graph</TMPL_IF>'></td></tr>
						</tr>
					</TMPL_LOOP>
				</table>
			<TMPL_IF NAME=IS_TABLE>
				</td></tr></table>	
			</TMPL_IF>	
			</td>
			
			<td>
				<table id='graph_options_<TMPL_VAR NAME=LABEL>' class='expandable graph_options hidden'>
					<tr><th>graph type</th><td opt_name='graph_type' choices='line,stack' class='graph_option editable_choice'><TMPL_VAR NAME=GRAPH_TYPE></td></tr>
					<tr><th>percentage</th><td opt_name='percent' class='graph_option yes_no_choice'><TMPL_VAR NAME=PERCENT></td></tr>
					<tr><th>include total</th><td opt_name='with_total' class='graph_option yes_no_choice'><TMPL_VAR NAME=WITH_TOTAL></td></tr>
					<TMPL_IF NAME=IS_TABLE>
						<tr><th>all in one</th><td opt_name='all_in_one' class='graph_option yes_no_choice'><TMPL_VAR NAME=ALL_IN_ONE></td></tr>
					</TMPL_IF>	
				</table>
			</td>
			
			</tr>

	</TMPL_LOOP>
</table>	

<div class="actions">
<a class="action imgSave" id="save_clustermonitoring_settings">save</a>
<p class="italic">Save settings.</p>
<a class="action imgMonitor" href='/cgi/kanopya.cgi/monitoring/view_clustermonitoring?cluster_id=<TMPL_VAR NAME=cluster_id>'>activity</a>
<p class="italic">Cluster's activity.</p>
</div>

</div>
<TMPL_INCLUDE NAME="footer.tmpl">