<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">@import url(/css/form.css);</style>

<div id="content">
<form method="POST" action="/cgi/mcsui.cgi/models/process_addprocessormodel">
<table class="form">
	<caption>New processor model</caption>
	<TMPL_IF NAME=SOME_ERRORS>
	<tr><td class="error" colspan="2">Some fields below are missing or invalid</td></tr>
	</TMPL_IF>
	<tr>
		<td class="label">Brand :</td>
		<td><input type="text" name="brand" size="20"/><TMPL_VAR NAME=ERR_BRAND></td>
	</tr>
	<tr>
		<td class="label">Name :</td>
		<td><input type="text" name="name" size="20" /><TMPL_VAR NAME=ERR_NAME></td>
	</tr>
	<tr>
		<td class="label">Cores number :</td>
		<td><input type="text" name="coresnum" size="4" /></td>
	</tr>
	<tr>
		<td class="label">Clock speed (GHz):</td>
		<td><input type="text" name="clockspeed" size="10" /></td>
	</tr>
	<tr>
		<td class="label">FSB :</td>
		<td><input type="text" name="fsb" size="10" /></td>
	</tr>
	<tr>
		<td class="label">L2 cache (MB):</td>
		<td><input type="text" name="l2cache" size="10" /></td>
	</tr>
	<tr>
		<td class="label">Consumption (W):</td>
		<td><input type="text" name="consumption" size="10" /><TMPL_VAR NAME=ERR_CONSUMPTION></td>
	</tr>
	<tr>
		<td class="label">TDP (W):</td>
		<td><input type="text" name="tdp" size="4" /></td>
	</tr>
	<tr>
		<td class="label">64bits :</td>
		<td><select name="is64bits">
			<option value="1">yes</option>
			<option value="0">no</option>
		</select></td>
	</tr>
	<tr>
		<td class="label">CPU flags :</td>
		<td><input type="text" name="cpuflags" size="40" /></td>
	</tr>
</table>
<div class="formbuttons">
	<input class="button" type="reset" value="clear" />
	<a class="button" href="/cgi/mcsui.cgi/models">cancel</a>
	<input class="button" type="submit" value="add" />
</div>
</form> 
</div>
<TMPL_INCLUDE NAME="footer.tmpl">

