<div id="menu">
	<ul>
		<TMPL_IF NAME="mDashboard"><li id="current"><a>Dashboard</a></li>
		<TMPL_ELSE><li><a href="/cgi/kanopya.cgi/systemstatus">Dashboard</a></li></TMPL_IF>
		<TMPL_IF NAME="mSettings"><li id="current"><a>Settings</a></li>
		<TMPL_ELSE><li><a href="/cgi/kanopya.cgi/users">Settings</a></li></TMPL_IF>
		<TMPL_IF NAME="mHardware"><li id="current"><a>Hardware</a></li>
		<TMPL_ELSE><li><a href="/cgi/kanopya.cgi/motherboards">Hardware</a></li></TMPL_IF>
		<TMPL_IF NAME="mSystems"><li id="current"><a>Systems</a></li>
		<TMPL_ELSE><li><a href="/cgi/kanopya.cgi/systemimages">Systems</a></li></TMPL_IF>
		<TMPL_IF NAME="mClusters"><li id="current"><a>Clusters</a></li>
		<TMPL_ELSE><li><a href="/cgi/kanopya.cgi/clusters">Clusters</a></li></TMPL_IF>
		<li id="logout"><a href="/cgi/kanopya.cgi/login/process_logout">Logout</a></li>
	</ul>
</div>
<div id="submenu">
	<ul><TMPL_IF NAME="mDashboard">
		<li><a class="imgEye<TMPL_IF NAME="submSystemstatus"> current</TMPL_IF>" href="/cgi/kanopya.cgi/systemstatus">Status</a>
		</li>
		<li><a class="imgExecute<TMPL_IF NAME="submExecutor"> current</TMPL_IF>" href="/cgi/kanopya.cgi/executor">Operations Queue</a>
		</li>
		<li><a class="imgLog<TMPL_IF NAME="submLogs"> current</TMPL_IF>" href="">Logs</a>
		</li></TMPL_IF>
		
		<TMPL_IF NAME="mSettings">
		<li><a class="imgUser<TMPL_IF NAME="submUsers"> current</TMPL_IF>" href="/cgi/kanopya.cgi/users">Users</a>
		</li>
		<li><a class="imgGroups<TMPL_IF NAME="submGroups"> current</TMPL_IF>" href="/cgi/kanopya.cgi/groups">Groups</a>
		</li>
		<li><a class="imgPermission<TMPL_IF NAME="submPermissions"> current</TMPL_IF>" href="/cgi/kanopya.cgi/permissions">Permissions</a>
		</li>
		<li><a class="imgMonitor<TMPL_IF NAME="submMonitor"> current</TMPL_IF>" href="/cgi/kanopya.cgi/monitoring">Monitor</a>
		</li>
		<li><a class="imgOrchestrator<TMPL_IF NAME="submOrchestrator"> current</TMPL_IF>" href="/cgi/kanopya.cgi/orchestration">Orchestrator</a>
		</li>
		</TMPL_IF>
		
		<TMPL_IF NAME="mHardware">
		<li><a class="imgMotherboard<TMPL_IF NAME="submMotherboards"> current</TMPL_IF>" href="/cgi/kanopya.cgi/motherboards">Hosts</a>
		</li>
		<li><a class="imgModel<TMPL_IF NAME="submModels"> current</TMPL_IF>" href="/cgi/kanopya.cgi/models">Models</a>
		</li>
		<li><a class="imgLightning<TMPL_IF NAME="submPower"> current</TMPL_IF>" href="/cgi/kanopya.cgi/powersupplycards">Power supply cards</a>
		</li>
		</TMPL_IF>
		
		<TMPL_IF NAME="mSystems">
		<li><a class="imgKernel<TMPL_IF NAME="submKernels"> current</TMPL_IF>" href="/cgi/kanopya.cgi/kernels">Kernels</a>
		</li>
		<li><a class="imgTux<TMPL_IF NAME="submDistributions"> current</TMPL_IF>" href="/cgi/kanopya.cgi/distributions">Distributions</a>
		</li>
		<li><a class="imgComponent<TMPL_IF NAME="submComponents"> current</TMPL_IF>" href="/cgi/kanopya.cgi/components">Components</a>
		</li>
		<li><a class="imgSystemimage<TMPL_IF NAME="submSystemimages"> current</TMPL_IF>" href="/cgi/kanopya.cgi/systemimages">System images</a>
		</li>
		</TMPL_IF>
		
		<TMPL_IF NAME="mClusters">
		<li><a class="imgCluster<TMPL_IF NAME="submClusters"> current</TMPL_IF>" href="/cgi/kanopya.cgi/clusters">Clusters</a>
		</li>
		<li><a class="imgNetwork<TMPL_IF NAME="submNetworks"> current</TMPL_IF>" href="/cgi/kanopya.cgi/networks">Networks</a>
		</li>
		</TMPL_IF>
		<li id="messagelauncher"><a class="imgMessage" href="javascript:openform('/cgi/kanopya.cgi/messager/view_messages?userid=<TMPL_VAR NAME=USERID>','messages', 800,400, 'toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');">messages</a></li>
	</ul>
</div>

