<td class="label">Aggregate:</td>
<td>
<select id="aggregate" name="disk_manager_param_netapp_aggregate_id">
<% FOREACH aggregate IN aggregates %>
	<option value="<% aggregate.aggregate_id %>"><% aggregate.aggregate_name %></option>
</select>
Volume:
<select id="volume" name="disk_manager_param_netapp_volume_id">
<% FOREACH container IN aggregate.aggregates_volumes %>
    <option value="<% container.volume_id %>"><% container.volume_name %></option>

<% END %>
<% END %>
</select>
</td>