<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">@import url(/css/details.css);</style>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/details.js"></script>
<div id="content">
<h2>System image : <TMPL_VAR NAME=systemimage_name></h2>
<hr/>
<span id="state" class="title simpleexpand">State</span>
<table id="Xstate" class="detailspart">
<tr><TMPL_IF NAME=active><td>Active, <TMPL_VAR NAME=systemimage_usage></td><TMPL_ELSE><td>Deactivated</td></TMPL_IF>
<td class="actions">
<TMPL_IF NAME=can_activate>
<a class="imgActivate" href="/cgi/kanopya.cgi/systemimages/process_activatesystemimage?systemimage_id=<TMPL_VAR NAME=systemimage_id>">activate</a><br />
<span class="desc">Activate this system image.</span><br /></TMPL_IF>
<TMPL_IF NAME=can_deactivate>
<a class="imgDeactivate" href="/cgi/kanopya.cgi/systemimages/process_deactivatesystemimage?systemimage_id=<TMPL_VAR NAME=systemimage_id>">deactivate</a><br />
<span class="desc">Deactivate this system image.</span><br />
</TMPL_IF>
</td></tr>
</table>

<hr/>
<span id="settings" class="title simpleexpand">Main settings</span>
<table id="Xsettings" class="detailspart">
<tr><td class="italic" colspan="2"><TMPL_VAR NAME=systemimage_desc></td>
<td class="actions" rowspan="4">
<TMPL_IF NAME=can_update>
<a class="imgEdit" href="javascript:openform('/cgi/kanopya.cgi/systemimages/form_editsystemimage?systemimage_id=<TMPL_VAR NAME=systemimage_id>', 'edit systemimage', 800, 400, '');">edit</a><br />
<span class="desc">Modify these global parameters.</span><br /><br /></TMPL_IF>
<TMPL_IF NAME=can_delete>
<a class="imgRemove" href="/cgi/kanopya.cgi/systemimages/process_removesystemimage?systemimage_id=<TMPL_VAR NAME=systemimage_id>">delete</a><br />
<span class="desc">Delete this system image.</span><br /><br /></TMPL_IF>
<TMPL_IF NAME=can_setperm>
<a class="imgPermission" href="/cgi/kanopya.cgi/permissions/view_selectconsumer?entitytype=Systemimage&id=<TMPL_VAR NAME=systemimage_id>">permissions</a><br />
<span class="desc">View/set permissions on this system image.</span><br /></TMPL_IF>
</td><tr/>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td class="label">Distribution :</td><td><TMPL_IF NAME=distribution><TMPL_VAR NAME=distribution><TMPL_ELSE>-</TMPL_IF></td></tr>
</table>

<hr/>
<span id="components" class="title simpleexpand">Installed Components</span>
<table id="Xcomponents" class="detailspart list">
<TMPL_IF NAME=components_list>
<tr><td colspan="2">&nbsp;</td>
<td class="actions" rowspan="<TMPL_VAR NAME=components_count>">
<TMPL_UNLESS NAME=active>
<TMPL_IF NAME=can_installcomponent>
<a class="imgAdding" href="javascript:openform('/cgi/kanopya.cgi/systemimages/form_installcomponent?systemimage_id=<TMPL_VAR NAME=systemimage_id>', 'Component Installation', 500, 200, '');">Install a component</a><br />
<span class="desc">Install a component to this system image.</span><br /><br /></TMPL_IF>
</TMPL_UNLESS>
</td></tr>
<TMPL_LOOP NAME=components_list>
<tr><td class="label2"><span class="bold"><TMPL_VAR NAME=component_name><TMPL_VAR NAME=component_version></span> - <TMPL_VAR NAME=component_category></td>
<td class="action"></td></tr>
</TMPL_LOOP>
<TMPL_ELSE>
<tr><td colspan="2">no defined component.</td>
<td class="actions">
<a class="imgAdding" href="javascript:openform('/cgi/kanopya.cgi/systemimages/form_installcomponent?systemimage_id=<TMPL_VAR NAME=systemimage_id>', 'Install a component', 600, 200, '');">Install a component</a><br />
<span class="desc">Install a new component to this system image.</span><br /><br />
</td></tr>
</TMPL_IF>
</table>


</div>
<TMPL_INCLUDE NAME="footer.tmpl">
