<html>
<head>
	<title>new power supply card</title>
</head>
<body>
<style type="text/css">@import url(/css/form.css);</style>
<div class="title">create power supply card<TMPL_IF NAME=some_errors><span class="error">Some fields below are missing or invalid</span></TMPL_IF></div>
<form method="POST" action="/cgi/kanopya.cgi/powersupplycards/process_addpowersupplycard">
<table class="form">
	<tr>
		<td class="label">Name :</td>
		<td><input type="text" name="name" maxlength="64" size="50" />
		<span style="color: red"><TMPL_VAR NAME=ERR_NAME></span></td>
	</tr>
	<tr>
		<td class="label">Power supply card model :</td>
		<td><select name="powersupplycard_model">
		<TMPL_LOOP NAME=powersupplycardmodels>
			<option value="<TMPL_VAR NAME=id>"><TMPL_VAR NAME=name></option>
		</TMPL_LOOP>	
		</select></td>
	</tr>
	<tr>
		<td class="label">MAC address :</td>
		<td><input type="text" name="mac_address" maxlength="17" size="17"/>
		<span style="color: red"><TMPL_VAR NAME=ERR_MAC_ADDRESS></span></td>
	</tr>
	<tr>
		<td class="label">Description :</td>
		<td><textarea cols="50" name="desc" value=""></textarea></td> 
	</tr>
</table>
<div class="buttons">
<input type="submit" value="ok"/>
<input type="button" value="cancel" onclick="javascript:window.close()"/>
</div>
</form> 
</body>
</html>
