<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
        <title><% title_page %></title>
        <link rel="stylesheet" href="<% request.uri_base %>/css/normalize.css" />
        <link rel="stylesheet" href="<% request.uri_base %>/css/global.css" />
        <link rel="stylesheet" href="<% request.uri_base %>/css/misc.css" />
        <% FOREACH css IN css_head %>
            <link rel="stylesheet" href="<% request.uri_base %>/css/<% css %>" />
        <% END %>

        <script type="text/javascript" src="/js/kanopyaui-tools.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.js"></script>

        <% FOREACH js IN js_head %>
            <script type="text/javascript" src="/js/<% js %>"></script>
        <% END %>

        <script language="javascript" type="text/javascript">
            $(document).ready(function() {
                $("#container_messages").click(function() {
                $("#messages").toggle();
            });
                var messages_ajax = function() {
                    $.ajax({
                        url: "/messages",
                        type: "POST",
                        dataType: "json",
                        success: function(msg){
                            console.log(msg);
                            $("#messages").empty();
							for(var i=0;i<msg.length;i++) {
								$("#messages").append(msg[i].content+"<br/>");
								
							}
                           
                        },
                        error: function(error, text, thor) {
                        $("#messages").empty();
                        $("#messages").append(text+" "+error);
                        }
                    });
                };
                setInterval(messages_ajax, 10000);
            });
        </script>
    </head>
    <body>
        <div id="header">
            <img id="smalllogo" src="/images/kanopya_small_logo.png" />
            <div id="menu">
                <ul>
                    <li><a href="/dashboard" <% is_active('/dashboard') %>>Dashboard</a></li>
                    <li><a href="#" <% is_active('/essai') %>>Essai</a></li>
                </ul>
            </div>

            <div id="infologin">
                logged as <span class="bold"><% username %></span>
            </div>

            <div class="logout">
                <a href="/logout">Logout</a>
            </div>
        </div>

        <div id="container">
            <div id="content">
                <% content %>
            </div>
            <div id="container_messages">
                messages
                <div id="messages" style="diplay: none;">
                </div>
            </div>

            <div id="footer">
                Powered by <a href="http://hederatech.org/">Hedera Technology</a>
            </div>
        </div>
    </body>
</html>
