<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
        <title><% title_page %></title>
        <link rel="stylesheet" href="<% request.uri_base %>/css/global.css" />
        <% FOREACH css IN css_head %>
            <link rel="stylesheet" href="<% request.uri_base %>/css/<% css %>" />
        <% END %>

        <script type="text/javascript" src="/js/kanopyaui-tools.js"></script>
        <% FOREACH js IN js_head %>
            <script type="text/javascript" src="/js/<% js %>"></script>
        <% END %>

    </head>
    <body>
        <div id="container">
            <img id="smalllogo" src="/images/kanopya_small_logo.png" />
            <div id="infologin">logged as <span class="bold"><% username %></span></div>
            <div id="content">
                <% content %>
            </div>
            <div id="footer">
                Powered by <a href="http://hederatech.org/">Hedera Technology</a>
            </div>
        </div>
    </body>
</html>
