<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
        <title><% title_page %></title>
        <link rel="stylesheet" href="<% request.uri_base %>/css/normalize.css" />
        <link rel="stylesheet" href="<% request.uri_base %>/css/global.css" />
        <link rel="stylesheet" href="<% request.uri_base %>/css/misc.css" />
        <% FOREACH css IN css_head %>
            <link rel="stylesheet" href="<% request.uri_base %>/css/<% css %>" />
        <% END %>

        <script type="text/javascript" src="/javascripts/kanopyaui-tools.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-ui-1.8.16.custom.min.js"></script>

        <% FOREACH js IN js_head %>
            <script type="text/javascript" src="/javascripts/<% js %>"></script>
        <% END %>

        <script language="javascript" type="text/javascript">
            $(document).ready(function() {
                $("#container_messages").click(function() {
                $("#messages").toggle();
            });
                var messages_ajax = function() {
                    $.ajax({
                        url: "/messages",
                        type: "POST",
                        dataType: "json",
                        success: function(msg){
                            console.log(msg);
                            $("#messages").empty();
							for(var i=0;i<msg.length;i++) {
								$("#messages").append(msg[i].content+"<br/>");
								
							}
                           
                        },
                        error: function(error, text, thor) {
                        $("#messages").empty();
                        $("#messages").append(text+" "+error);
                        }
                    });
                };
                setInterval(messages_ajax, 10000);

                $('.modal').each(function() {
                    var $link = $(this);

                    var $dialog = $('<div></div>')
                        .load($link.attr('href'))
                        .dialog({
                            autoOpen: false,
                            modal: true,
                            title: $link.attr('title' + '#content'),
                            width: 500,
                            height: 300,
                            buttons: {
                                Cancel: function() {
                                    $(this).dialog('close');
                                }
                            },

                        });

                    $link.click(function() {
                        $dialog.dialog('open');
                        return false;
                    });
                });
            });
        </script>
    </head>
    <body>
        <div id="header">
            <img id="logo" src="/images/kanopya_medium_logo.png" />
            <div id="menu">
                <ul>
                    <li <% menu_selection('dashboard') %>><a href="/dashboard/status">Dashboard</a></li>
                    <li <% menu_selection('rights') %>><a href="/rights/users">Rights</a></li>
                    <li <% menu_selection('infrastructures') %>><a href="/infrastructures/hosts">Infrastructures</a></li>
                    <li <% menu_selection('systems') %>><a href="/systems/kernels">Systems</a></li>
                    <li <% menu_selection('architectures') %>><a href="/architectures/clusters">Architectures</a></li>
                </ul>
            
            </div>
            <div id="menu_separator">
            </div>
            
            <div id="submenu">
                <ul>
                    <% IF is_menu_selected('dashboard') %>
                        <li <% submenu_selection('status') %>><a href="/dashboard/status" >Status</a></li>
                        <li <% submenu_selection('logs') %>><a href="/dashboard/logs">Logs</a></li>
                    <% ELSIF is_menu_selected('rights') %>
                        <li <% submenu_selection('users') %>><a href="/rights/users">Users</a></li>
                        <li <% submenu_selection('groups') %>><a href="/rights/groups">Groups</a></li>
                        <li <% submenu_selection('permissions') %>><a href="/rights/permissions">Permissions</a></li>
                    <% ELSIF is_menu_selected('infrastructures') %>
                        <li <% submenu_selection('hosts') %>><a href="/infrastructures/hosts">Hosts</a></li>
                        <li <% submenu_selection('models') %>><a href="/infrastructures/models">Models</a></li>
                        <li <% submenu_selection('powersupply') %>><a href="/infrastructures/powersupply">Power supply cards</a></li>
                    <% ELSIF is_menu_selected('systems') %>
                        <li <% submenu_selection('kernels') %>><a href="/systems/kernels">Kernels</a></li>
                        <li <% submenu_selection('distributions') %>><a href="/systems/distributions">Distributions</a></li>
                        <li <% submenu_selection('components') %>><a href="/systems/components">Components</a></li>
                        <li <% submenu_selection('images') %>><a href="/systems/images">System images</a></li>
                     <% ELSIF is_menu_selected('architectures') %>
                        <li <% submenu_selection('clusters') %>><a href="/architectures/clusters">Clusters</a></li>
                        <li <% submenu_selection('networks') %>><a href="/architectures/networks">Networks</a></li>
                    <% END %>
                </ul>
            </div>
            
            <div id="infologin">
                logged as <span id="username"><% username %></span>
            </div>

            <div class="logout">
                <a href="/logout">Logout</a>
            </div>
            
        </div>

        <div id="container">
            <div id="content">
                <% content %>
            </div>
            <div id="container_messages">
                messages
                <div id="messages" style="diplay: none;">
                </div>
            </div>

            <div id="footer">
                Powered by <a href="http://hederatech.org/">Hedera Technology</a>
            </div>
        </div>
    </body>
</html>
