<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">@import url(/css/details.css);</style>
<script type="text/javascript" src="/js/extern/jquery.js"></script>
<script type="text/javascript" src="/js/details.js"></script>
<div id="content">
<h2 id="<TMPL_VAR NAME=distribution_id>" class="distribution img<TMPL_VAR NAME=distribution_name>"><TMPL_VAR NAME=distribution_name> <TMPL_VAR NAME=distribution_version> Distribution</h2>
<table class="detailspart"><tr><td class="italic"><TMPL_VAR NAME=distribution_desc></td></tr></table>

<hr/>
<span id="components" class="title simpleexpand">Provided Components</span>
<table id="Xcomponents" class="detailspart list">
<TMPL_IF NAME=components_list>
<tr><td colspan="2">&nbsp;</td>
<td class="actions" rowspan="<TMPL_VAR NAME=components_count>">
<span class="desc">This list show components which can be installed on a system image based on this distribution.</span><br /><br />
</td></tr>
<TMPL_LOOP NAME=components_list>
<tr><td class="label2"><span id="<TMPL_VAR NAME=component_id>" class="bold"><TMPL_VAR NAME=component_name><TMPL_VAR NAME=component_version></span> - <TMPL_VAR NAME=component_category></td>
<td class="action"><td></tr>
</TMPL_LOOP>
</TMPL_IF>
</table>


</div>
<TMPL_INCLUDE NAME="footer.tmpl">
