<div id="host-home" class="list">
    {{#hostCollection}}
        <div class="list-item" id="list-item{{id}}">
            <div class="list-item-box {{state}}">
                <div class="list-item-info">
                    <div class="identifier">
                        <div class="description"><span>{{description}}</span></div>
                        <div class="name"><span>{{name}}</span></div>
                        <div class="ip">{{adminIp}}</div>
                    </div>
                    <div class="state">
                        <div class="fa {{stateIcon}}"></div>
                        <div class="label">{{stateLabel}}</div>
                    </div>
                </div>
                <div class="list-line"></div>
                <div class="list-properties">
                    <div class="property property-50 cpu first">
                        <div class="title">CPU</div>
                        <div class="value">{{cpu}}<span class="label">cores</span></div>
                    </div>
                    <div class="property property-50 ram">
                        <div class="title">RAM</div>
                        <div class="value">{{ram}}<span class="label">{{ramUnit}}</span></div>
                        <div class="expander"><i class="icon fa fa-angle-double-down"></i></div>
                    </div>
                </div>
            </div>
            <div class="list-panel {{state}}">
                <div class="list-line"></div>
                <div class="button-group" data-id="{{id}}">
                    {{#if hostCanStop}}
                        <button type="button" class="btn btn-action3 button-text button-stop">Stop</button>
                    {{/if}}
                    {{#if hostCanActivate}}
                        <button type="button" class="btn btn-action4 button-text button-activate">Activate</button>
                    {{/if}}
                    {{#if hostCanDeactivate}}
                        <button type="button" class="btn btn-action5 button-text button-deactivate">Deactivate</button>
                    {{/if}}
                    {{#if hostCanRemove}}
                        <button type="button" class="btn btn-action3 button-text button-remove">Remove</button>
                    {{/if}}
                    {{#if hostCanScale}}
                        <button type="button" class="btn btn-action2 button-text button-scale-cpu">Scale CPU</button>
                        <button type="button" class="btn btn-action2 button-text button-scale-ram">Scale RAM</button>
                    {{/if}}
                    <button type="button" class="btn btn-action1 button-text button-detail">Detail</button>
                </div>
            </div>
        </div>
    {{/hostCollection}}
</div>
