
<div id="iaas-home" class="list container">
    <div class="list-container">
        <div class="list-item">
            <div class="list-item-box">
                <div class="list-item-info">
                    <div class="name openstack">OpenStack<br/><span class="ip">10.0.0.251</span></div>
                    <div class="state accept">Running</div>
                    <div class="after"></div>
                </div>
                <div class="list-line"></div>
                <div class="list-properties">
                    <div class="vm first">
                        <div class="title">VMs</div>
                        <div class="value number">4</div>
                    </div>
                    <div class="hypervisor">
                        <div class="title">HYPERVISORS</div>
                        <div class="value number">1</div>
                    </div>
                    <div class="cpu-ram cpu">
                        <div class="title">CPU</div>
                        <div class="detail">
                            <div class="radial"></div>
                            <div class="info">
                                <div class="meter">
                                    <div class="total number">4<span class="label">cores</span></div>
                                    <div class="used number">2<span class="label">used</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cpu-ram ram">
                        <div class="title">RAM</div>
                        <div class="detail">
                            <div class="radial"></div>
                            <div class="info">
                                <div class="meter">
                                    <div class="total number">8<span class="label">GB</span></div>
                                    <div class="used number">6.2<span class="label">used</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="after"></div>
                <div class="list-line"></div>
                <div class="button-group">
                    <button type="button" class="btn btn-action2">Synchronize</button>
                    <button type="button" class="btn btn-action2">Optimize</button>
                    <button type="button" class="btn btn-action3">Unregister</button>
                    <button type="button" class="btn btn-action1">Detail</button>
                </div>
            </div>
        </div>
    </div>
</div>
