
<div id="instance-home" class="list">
    {{#instanceCollection}}
        <div class="list-item" id="list-item{{id}}">
            <div class="list-item-box {{state}}">
                <div class="list-item-info">
                    <div class="identifier">
                        <div class="service">{{serviceName}}</div>
                        <div class="name"><span>{{instanceName}}</span></div>
                    </div>
                    <div class="state">
                        <div class="fa {{stateIcon}}"></div>
                        <div class="label">{{stateLabel}}</div>
                    </div>
                </div>
                <div class="list-line"></div>
                <div class="list-properties">
                    <div class="node first">
                        <div class="title">NODES</div>
                        <div class="value">{{nodeNumber}}</div>
                    </div>
                    <div class="rule">
                        <div class="title">RULES</div>
                        <div class="value">
                            {{#if ruleStateOk}}
                                <div class="ok">{{ruleStateOk}}</div>
                            {{/if}}                    
                            {{#if ruleStateVerified}}
                                <div class="verified">{{ruleStateVerified}}</div>
                            {{/if}}                    
                            {{#if ruleStateUndef}}
                                <div class="undef">{{ruleStateUndef}}</div>
                            {{/if}}                    
                        </div>
                        <div class="expander"><i class="icon fa fa-angle-double-down"></i></div>
                    </div>
                </div>
            </div>
            <div class="panel {{state}}">
                <div class="list-line"></div>
                <div class="button-group" data-id="{{id}}">
                    {{#if stateCanStart}}
                        <button type="button" class="button-icon button-start" title="Start"><i class="fa fa-play"></i></button>
                    {{/if}}                    
                    {{#if stateCanStop}}
                        <button type="button" class="button-icon button-stop" title="Stop"><i class="fa fa-stop"></i></button>
                    {{/if}}                    
                    <button type="button" class="button-icon button-scale-out" title="Scale out"><i class="fa fa-expand"></i></button>
                    <button type="button" class="btn btn-action1 button-text button-detail">Detail</button>
                </div>
            </div>
        </div>
    {{/instanceCollection}}
</div>
