<div id="metric-editor" class="dialog-container" title="Create new metric">
    <form id="metric-form" method="POST">
        <div id="metric-identity">
            <p>
                <label for="metric-name">Name :</label>
                <input type="text" name="name" id="metric-name" />
            </p>
            <p>
                <label for="metric-description">Description :</label>
                <input type="text" name="description" id="metric-description" />
            </p>
        </div>

        <!-- <div class="line"></div> -->

        <div id="metric-blockly">
            <div id="metric-items">
                <p class="first">
                    <label for="metric-category">Metrics category</label>
                    <select id="metric-category">
                        {{#metric-category}}
                            <option value="{{id}}">{{label}}</option>
                        {{/metric-category}}
                    </select>
                </p>
                <p>Function</p>
                <p>Operator group</p>
                <p>Value</p>
            </div>
            <div id="blockly-container"></div>
            <div id="metric-blockly-down"></div>
        </div>
        <div id="metric-formula"></div>
    </form>
</div>
