* { font: small Georgia,Serif; margin: 0; padding: 0; }
body { background-color: #EEE; }
div.title { 
	color: #228b22;
	font-size: 1.6em; 
	font-weight: bold;
	padding: 10px 0 10px 20px;
} 

div.buttons {
	height: auto;
	width :100%;
	text-align: right;
} 

div.buttons input { min-width: 6em; margin: 10px; }

table.form {
	background-color: white;
	border-width: 1px 0 1px 0;
	border-color: black;
	border-style: dashed;
	margin: 0 auto;
	width: auto;
}

table.form caption {
	padding: 15px;
	font-size: 1.5em;
	font-weight: bold;
	color: #69B033;
}


table.form td { width: 25%; padding-top: 5px}
table.form select { min-width: 200px;}

.error { 
	color: red;
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

table.form td.label {
	font-weight: bold;
	text-align: right;
}


