* {
	margin: 0;
	padding: 0;
	font-family: Monospace;
	font-size: 12px;
	text-decoration: none;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	height: 100%
}

#ivy1 {
	position: absolute;
	top: -10px;
	left: 0;
	z-index: -1;
	
}

iframe { 
	position: absolute; 
	top: 90%; 
	left: 0;
	width: 1024px; 
	background-color: white; 
	
}

#header, #menu, #content {
	float: left;
	border: none;
	width: 100%;
}

#header { 
	background-color: #FFF;
	background-image: url('../images/HEADER.png');
	background-position: top right;
	background-repeat: no-repeat;
	margin-top: -20px; 
}

img#logo {
	border: none;
	margin: 20px;
}

/* menu and submenu */

#mainmenu { margin-top: 40px;}

#mainmenu {
	border: none;
	float: left;
	clear: both;
	width: 100%; 
	opacity: 0.9;
}

#mainmenu a {
	border: 1px solid #69B033;
	background-repeat: no-repeat;
	background-position: 10px;
	background-color: #EEF2BE;
	padding: 10px 20px 5px 20px;
	color: #69B033;
	float:left;
	font-size: 1.1em;
	border-left: none;
	border-right: none;
	position: relative;
	top: 8px;
	cursor: pointer;
}

#mainmenu a img { border: none; }
#mainmenu a.begin { border-left: thin solid #69B033; }
#mainmenu a.end { border-right: thin solid #69B033; }
#mainmenu a.empty { border: none; background-color: transparent; cursor: default;}
#mainmenu a.logout { border: thin solid #69B033; float: right;}

#mainmenu a:hover {
	font-weight: bold;
}

#mainmenu .select {
	font-weight: bold;
	color: #E9F2BE;
	background-color: #69B033;
	font-size: 1.5em;
	padding-top: 12px;
	position: relative;
	top: 0;
	cursor: default;
}

#mainmenu .select {
	font-weight: bold;
	font-style: normal;
	position: relative;
}


#submenu { 
	background-color: #69B033; 
	float: left;	
	width: 100%;
	opacity: 0.9;
}

#submenu a {
	background-color: #69B033; 
	border-color: white;
	border-style: solid;
	border-width: 0 0 0 1px;
	
	
	padding: 10px 10px;
	color: #fafae9;
	font-size: 1.1em;
	float:left;
}

#submenu a:hover { text-decoration: underline; }

#submenu .select {
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: underline;
	color: #F2F0BE;
	cursor: default;
}

/* middle content */

#content {
	background-color: transparent;
	border-style: dotted;
	border-width: 0 1px;
	border-color: #69B033;
	width:1022px;
	float: left;
}

#content h1 {
	margin: 25px;
	color: #69B033;
	font-size: 1.5em;
}

#contentright {
	float:left;
	border: none;
	opacity: 1;
}

#contentright hr { color: #69B033; }

#contentleft { 
	background-color: white;
	float: left;
	opacity: 0.85;
	position: relative;
	width: 200px;
}



#contentleft a {
	color: #69B033;
	 margin: 10px 20px;
	text-decoration: none;
	
}
#contentleft hr, p { margin: 10px 20px;}
#contentleft a.button {
	border: thin outset #EEF2BE;
	background-color: #69B033;
	color: #EEF2BE;
	padding: 10px;
	font-weight: bold;

	display: block; 
}

#messager {
    width: 100%;
    border: none;
}

.hidden {
	display: none;
}




