table.listview {
	margin: 0 0 20px 0;
	border-collapse: collapse;
	float: left;
	clear: both;
	background-color: white;
	min-width: 50%;
	max-width: 1022px;
}



table.listview  th { background-color: #DDD; padding: 10px; }
table.listview .expand { color: green; }
table.listview .expand:hover { cursor: pointer; font-weight: bold; }

table.listview tr:hover { background-color: #e4f3c6; }

table.listview td { padding: 6px 9px; background-color: transparent; }

table.listview th, table.listview td {
	border-width: 1px ;
	border-style: solid;
	border-color: #765;
	text-align: center;
}

table.listview a { 
	text-decoration: none;
	background-repeat: no-repeat;
	color: green;
	margin: 0 8px;
	padding-left: 19px;
}

table.listdetails { 
	font-family: monospace;
	font-size: medium;
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	margin: 0;
	padding: 0;
}

table.listdetails td { border: none; padding: 3px; }

table.listdetails td.label {
	font-weight: bold;
	text-align: right;
}

table.listdetails td.content { 
	min-width: 50% ;
	text-align: left;
}
table.listdetails hr { margin: 2px 0; }
