table.listing {
    border-bottom: 1px solid black;
    float: left;    
    width: 78%;
    margin-bottom: 15px;
}

table.listing:hover { background-color: #EEE; }

table.listing { border-collapse: collapse; }
table.listing td { padding: 5px; width: 25%; }

table.listing h1 {
    color: #228b22;
    font-weight: bold;
    font-size: 1.6em;
    margin: 10px 0 0 0;
}

table.listing td.toright a { 
    background-repeat: no-repeat;
    padding-left: 20px;
    text-decoration: none;
    color: #228b22;
}

.state {
	background-position: left;
	background-repeat:  no-repeat;
	padding-left: 20px;
}


div.actions {
    margin-left: 80%;
    margin-top: 30px;
    background-color: #F9F9FF;
    width: 20%;
    border: thin dashed black;
}

div.actions a.action {
    margin: 10px 0 0 10px;    
    display: block;    
    color: #0A0;
    background-repeat: no-repeat;
    padding-left: 20px;
    text-decoration: none;   
    font-size: 1em; 
}

div.actions p {
    margin: 5px 0 10px 10px;
    font-size: 0.9em;
}


table.simplelisting {
    float: left;    
    width: 78%;
    margin-bottom: 15px;
    border-collapse: collapse;
}

table.simplelisting caption { 
	color: #228b22;
	font-size: 1.5em;
	font-weight: bold;
	margin: 10px;
	text-align: left; 
}

table.simplelisting th { 
	background-color: #CDC;
	color: #228b22;
	border: thin solid white;
}

table.simplelisting td {
	border-bottom: thin solid #AAA;
	padding: 15px 5px 5px 5px;
}

table.simplelisting td a {
    color: #228b22;
    background-repeat: no-repeat;
    padding-left: 20px;
    text-decoration: none;   
}

.right { text-align: right; }
.bold { font-weight: bold; }









