* {
	margin: 0;
	padding: 0;
	font-family: Monospace;
	font-size: 1.05em;
	color: #69B033;
}

.small { font-size: small; color: #69B033; text-align: center; position: relative; top: 20px ;}

div#container {
	margin: auto;
	width: 350px;
	margin-top: 100px;
	background-color: #FFF;
	border: thin solid #69B033;
	padding: 25px;
}

h2 { text-decoration: underline; }

ul {
	margin-top: 20px; 
	list-style: none;
	
}

ul li {
	text-align: right;
	margin: 10px 0;
}

ul li {}
ul li.button { text-align: center; margin-top: 30px;}
ul li.button input { width: 150px; }

img#biglogo {
	margin-bottom: 20px;
	
}
