$background_color: purple;
$color_gray: gray;
$color_white: white;

@mixin center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    min-height: 100%;
    background-color: $background_color;
    font: small Georgia,Serif;
}

#header {
    position: fixed;
    width: 100%;
    background-color: $color_white;
    border-top: 2px solid $background_color;
    height: 100px;
    #smalllogo {
        position: absolute;
        top: 25px;
        left: 260px;
    }
    #infologin {
        position: absolute;
        top: 0px;
        right: 127px;
    }
    .logout {
        position: absolute;
        top: 0px;
        right: 25px;
        background-color: $background_color;
        color: $color_white;
        text-align: center;
        width: 84px;
        height: 25px;
        a {
            color: $color_white;
            text-decoration: none;
        }
    }
    #menu {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        ul {
            list-style-type: none;
        }
        li {
            float: left;
        }
        ul {
            li {
                padding-left: 37px;
                a {
                    display: block;
                    float: left;
                    text-decoration:none;
                }
            }
        }
    }
    #submenu {
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        ul {
            list-style-type: none;
        }
        li {
            float: left;
        }
        ul {
            li {
                padding-left: 37px;
                a {
                    display: block;
                    float: left;
                    text-decoration:none;
                }
            }
        }
    }
    hr {
        margin-top: 30px;
    }
    border-bottom: 2px solid gray;
}

#container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: $color_white;
    padding-top: 108px;
    min-height: 498px;
}

#footer {
    border-top: 10px solid $color_gray;
    color: $color_gray;
}
