$color_purple: #80388A;
$color_gray: #C2C2C2;
$color_red: #FF002E;
$color_green: #00F442;
$color_white: white;

@mixin center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    min-height: 100%;
    background-color: $color_purple;
//    font: small Georgia,Serif;
    font-style: arial;
}

#header {
    position: fixed;
    width: 100%;
    background-color: $color_white;
    border-top: 2px solid $color_purple;
    height: 100px;
    #logo {
        position: absolute;
        top: 25px;
        left: 260px;
    }
    #infologin {
        position: absolute;
        top: 0px;
        right: 127px;
    }
    .logout {
        position: absolute;
        top: 0px;
        right: 25px;
        background-color: $color_purple;
        color: $color_white;
        text-align: center;
        width: 84px;
        height: 25px;
        a {
            color: $color_white;
            text-decoration: none;
        }
    }
    #menu {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        ul {
            list-style-type: none;
        }
        li {
            float: left;
        }
        ul {
            li {
                //padding-right: 37px;
                padding: 8px 37px 8px 0px;
                a {
                    display: block;
                    text-decoration:none;
                    color: $color_gray;
                    font-weight: bold;
                }
                a:hover {
                        color: $color_green;
                    }
            }
            .selected {
                    a {
                        color: $color_purple;
                    }
                    border-bottom: 3px solid $color_purple;
            }
        }
    }
    #submenu {
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        ul {
            list-style-type: none;
            li {
                float: left;
                padding: 5px 15px 5px 15px;
                background-color: $color_gray;
                a {
                    display: block;
                    float: left;
                    text-decoration:none;
                    color: white;
                    font-size: 13px;
                    font-weight: bold;
                }
                
            }
            li:hover {
                    background-color: $color_green;
                }
            .selected {
                    background-color: $color_purple;
            }
        }
    }
    hr {
        margin-top: 30px;
    }
    //border-bottom: 2px solid gray;
}

#container {
    @include center;
    background-color: $color_white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 108px;
    min-height: 498px;
}

#footer {
    border-top: 10px solid $color_gray;
    color: $color_gray;
}
