#header #logo {
    top: 10px;
    padding-left: 110px;
    padding-right: 20px;
    float: left;
    padding-top: 10px;
}

#header #infologin {
    float:right;
    padding-right: 20px;
    color: #C2C2C2;
    font-size: 11px;
    font-weight: bold;
}

#header #infologin #username {
    color: #7E388A;
}

#header .logout {
    float:right;
    /*padding-top: 10px;*/
    font-size: 11px;
    font-weight: bold;
    /*background: #7E388A;*/
}

#header .logout a {
    color: #C2C2C2;
    text-decoration: none;
}

#header #product-name {
    color: #7E388A;
    cursor: pointer;
}

/* Ugly quick style to set position of themeswitcher */
#header .jquery-ui-themeswitcher-trigger {
    position: absolute;
    top: 5px;
    right: 200px;
}

#menu_logo {
    cursor: pointer;
}

#image-welcome {
    display: block;
    margin: 100px auto;
}

#bread-scrumbs {
    position : fixed;
}

.cursor-wait {
    cursor  : wait !important;
}

a.view_link {
    text-decoration: none;
}

a:hover.view_link {
    font-weight: bold;
}

a.selected_viewlink {
    color: #7E388A;
    font-weight: bold;
}

td {
    vertical-align: top;
}

td .ui-button {
    margin-top: 0;
}

td.helpCell {
    text-align      : justify;
    color           : #828282;
    font-size       : 11px;
    padding-bottom  : 10px;
}

td.table-title {
    font-size: 14px;
    font-weight: bold;
}

a.linkbutton {
    cursor: pointer;
    font-weight: bold;
}

.master_view {
    /*height : 100%;*/
}

.selectable_rows .jqgrow:hover {
    cursor : pointer;
}

.details_section {
    border-top: 1px solid #B2B2B2;
    padding-top: 5px;
}

.operation_type {
    float: left;
}

.operation_state {
    float: right;
    padding-right: 20px;
}

th {
    text-align: left;
    vertical-align: top;
}

.icon-running {
    background-image: url(/images/icons/running.gif);
    width: 16px;
    height: 16px;
}

.icon-done {
    background-image: url(/images/icons/done.png);
    width: 16px;
    height: 16px;
}

.icon-cancel {
    background-image: url(/images/icons/cancel.png);
    width: 16px;
    height: 16px;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary {
    opacity: 1.0;
    filter: Alpha(Opacity=100);
}

/* Manage visibility of widget time configuration*/
.time_mode:not(.selected-time-mode) {
    display : none;
}

ul.submenu div.scrollarrow {
    width: 18px;
    float: left;
    margin: 1px 0 0 0;
    border: 1px solid #b2b2b2;
    border-bottom: 0;
}

ul.submenu div.scrollarrowleft {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

ul.submenu div.scrollarrowright {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*
 * Dialog editor (generic)
 */
.dialog-container input,
.dialog-container select,
.dialog-container textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.dialog-container .block-title {
    margin-top: 20px;
    font-size: 120%;
    color: #cccccc;
}

.dialog-container .line {
    height: 1px;
    background-color: #cccccc;
}

.dialog-container button:hover {
    cursor : pointer;
}

.dialog-container .error {
    color: #b94a48;
    margin: 0;
}

.dialog-container .border-error {
    border: 1px solid #b94a48 !important;
}

.dialog-container .background-error {
    background-color: #F9F2F4 !important;
}

.dialog-container .field-error {
    border: 1px solid #b94a48 !important;
    background-color: #F9F2F4 !important;
}

/*
 * Rule editor (rule-editor.tmpl.html)
 */

#rule-editor .backcolor-0 {
    background-color: #eeeeee;
}

#rule-editor .backcolor-1 {
    background-color: #dddddd;
}

#rule-editor .backcolor-2 {
    background-color: #cccccc;
}

#rule-editor .backcolor-3 {
    background-color: #bbbbbb;
}

#rule-editor .condition-remove,
#rule-editor .action-remove {
    background: url(/images/remove.png) no-repeat top left;
    border: none;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
}

#rule-identification label {
    display: inline-block;
    text-align: right;
    width: 100px;
}

#rule-identification input {
    width: 400px;
}

#rule-conditions-builder {
    margin-top: 10px;
}

#rule-conditions-builder .hidden {
    display: none !important;
}

#rule-conditions-builder .error {
    margin-left: 5px;
}

#rule-conditions-builder .condition-content {
    border: 1px solid rgba(81, 203, 238, 1);
    background-color: #ffffff;
}

#rule-conditions-builder .condition-group {
    margin-left: 50px;
    padding: 5px;
}

#rule-conditions-builder .condition-group.root {
    margin-left: 0;
}

#rule-conditions-builder .condition-add {
    margin-left: 50px;
}

#rule-conditions-builder .condition {
    padding: 5px;
}

#rule-conditions-builder .condition-line {
    margin-left: 50px;
    padding: 5px;
}

#rule-conditions-builder .logic {
    width: 55px;
}

#rule-conditions-builder .function1,
#rule-conditions-builder .function2 {
    width: 90px;
}

#rule-conditions-builder .operand1,
#rule-conditions-builder .operand2,
#rule-conditions-builder .condition-value {
    width: 180px;
}

#rule-actions-builder {
    margin-top: 10px;
}

#rule-actions-builder .action {
    padding: 5px;
}

#rule-actions-builder .action-line {
    padding: 5px;
}

#rule-actions-builder .action-select,
#rule-actions-builder .action-value {
    width: 180px;
}
