/* glue: 0.3 hash: 91ec7bf9a1 */
.sprite-kanopya-workload,
.sprite-kanopya-workload-white,
.sprite-kanopya-trash,
.sprite-kanopya-trash-white,
.sprite-kanopya-system,
.sprite-kanopya-system-white,
.sprite-kanopya-storage,
.sprite-kanopya-storage-white,
.sprite-kanopya-stop,
.sprite-kanopya-stop-white,
.sprite-kanopya-start,
.sprite-kanopya-start-white,
.sprite-kanopya-scale,
.sprite-kanopya-scale-white,
.sprite-kanopya-scalability,
.sprite-kanopya-scalability-white,
.sprite-kanopya-rules,
.sprite-kanopya-rules-white,
.sprite-kanopya-resubmit,
.sprite-kanopya-resubmit-white,
.sprite-kanopya-resources,
.sprite-kanopya-resources-white,
.sprite-kanopya-remote,
.sprite-kanopya-remote-white,
.sprite-kanopya-pause,
.sprite-kanopya-pause-white,
.sprite-kanopya-ok,
.sprite-kanopya-ok-white,
.sprite-kanopya-network,
.sprite-kanopya-network-white,
.sprite-kanopya-monitoring,
.sprite-kanopya-monitoring-white,
.sprite-kanopya-migration,
.sprite-kanopya-migration-white,
.sprite-kanopya-migrate,
.sprite-kanopya-migrate-white,
.sprite-kanopya-metering,
.sprite-kanopya-metering-white,
.sprite-kanopya-kernel,
.sprite-kanopya-kernel-white,
.sprite-kanopya-import,
.sprite-kanopya-import-white,
.sprite-kanopya-iaas,
.sprite-kanopya-iaas-white,
.sprite-kanopya-hosting,
.sprite-kanopya-hosting-white,
.sprite-kanopya-export,
.sprite-kanopya-export-white,
.sprite-kanopya-details,
.sprite-kanopya-details-white,
.sprite-kanopya-delete,
.sprite-kanopya-delete-white,
.sprite-kanopya-dashboard,
.sprite-kanopya-dashboard-white,
.sprite-kanopya-customer,
.sprite-kanopya-customer-white,
.sprite-kanopya-configuration,
.sprite-kanopya-configuration-white,
.sprite-kanopya-compute,
.sprite-kanopya-compute-white,
.sprite-kanopya-cancel,
.sprite-kanopya-cancel-white,
.sprite-kanopya-alert,
.sprite-kanopya-alert-white,
.sprite-kanopya-add,
.sprite-kanopya-add-white{background-image:url('/images/kanopya-sprites.png');background-repeat:no-repeat}
.sprite-kanopya-workload{background-position:0px 0px;width:20px;height:20px;}
.sprite-kanopya-workload-white,.ui-state-active .sprite-kanopya-workload{background-position:-20px 0px;width:20px;height:20px;}
.sprite-kanopya-trash{background-position:0px -20px;width:20px;height:20px;}
.sprite-kanopya-trash-white,.ui-state-active .sprite-kanopya-trash{background-position:-20px -20px;width:20px;height:20px;}
.sprite-kanopya-system{background-position:-40px 0px;width:20px;height:20px;}
.sprite-kanopya-system-white,.ui-state-active .sprite-kanopya-system{background-position:-40px -20px;width:20px;height:20px;}
.sprite-kanopya-storage{background-position:0px -40px;width:20px;height:20px;}
.sprite-kanopya-storage-white,.ui-state-active .sprite-kanopya-storage{background-position:-20px -40px;width:20px;height:20px;}
.sprite-kanopya-stop{background-position:-40px -40px;width:20px;height:20px;}
.sprite-kanopya-stop-white,.ui-state-active .sprite-kanopya-stop{background-position:-60px 0px;width:20px;height:20px;}
.sprite-kanopya-start{background-position:-60px -20px;width:20px;height:20px;}
.sprite-kanopya-start-white,.ui-state-active .sprite-kanopya-start{background-position:-60px -40px;width:20px;height:20px;}
.sprite-kanopya-scale{background-position:0px -60px;width:20px;height:20px;}
.sprite-kanopya-scale-white,.ui-state-active .sprite-kanopya-scale{background-position:-20px -60px;width:20px;height:20px;}
.sprite-kanopya-scalability{background-position:-40px -60px;width:20px;height:20px;}
.sprite-kanopya-scalability-white,.ui-state-active .sprite-kanopya-scalability{background-position:-60px -60px;width:20px;height:20px;}
.sprite-kanopya-rules{background-position:-80px 0px;width:20px;height:20px;}
.sprite-kanopya-rules-white,.ui-state-active .sprite-kanopya-rules{background-position:-80px -20px;width:20px;height:20px;}
.sprite-kanopya-resubmit{background-position:-80px -40px;width:20px;height:20px;}
.sprite-kanopya-resubmit-white,.ui-state-active .sprite-kanopya-resubmit{background-position:-80px -60px;width:20px;height:20px;}
.sprite-kanopya-resources{background-position:0px -80px;width:20px;height:20px;}
.sprite-kanopya-resources-white,.ui-state-active .sprite-kanopya-resources{background-position:-20px -80px;width:20px;height:20px;}
.sprite-kanopya-remote{background-position:-40px -80px;width:20px;height:20px;}
.sprite-kanopya-remote-white,.ui-state-active .sprite-kanopya-remote{background-position:-60px -80px;width:20px;height:20px;}
.sprite-kanopya-pause{background-position:-80px -80px;width:20px;height:20px;}
.sprite-kanopya-pause-white,.ui-state-active .sprite-kanopya-pause{background-position:-100px 0px;width:20px;height:20px;}
.sprite-kanopya-ok{background-position:-100px -20px;width:20px;height:20px;}
.sprite-kanopya-ok-white,.ui-state-active .sprite-kanopya-ok{background-position:-100px -40px;width:20px;height:20px;}
.sprite-kanopya-network{background-position:-100px -60px;width:20px;height:20px;}
.sprite-kanopya-network-white,.ui-state-active .sprite-kanopya-network{background-position:-100px -80px;width:20px;height:20px;}
.sprite-kanopya-monitoring{background-position:0px -100px;width:20px;height:20px;}
.sprite-kanopya-monitoring-white,.ui-state-active .sprite-kanopya-monitoring{background-position:-20px -100px;width:20px;height:20px;}
.sprite-kanopya-migration{background-position:-40px -100px;width:20px;height:20px;}
.sprite-kanopya-migration-white,.ui-state-active .sprite-kanopya-migration{background-position:-60px -100px;width:20px;height:20px;}
.sprite-kanopya-migrate{background-position:-80px -100px;width:20px;height:20px;}
.sprite-kanopya-migrate-white,.ui-state-active .sprite-kanopya-migrate{background-position:-100px -100px;width:20px;height:20px;}
.sprite-kanopya-metering{background-position:-120px 0px;width:20px;height:20px;}
.sprite-kanopya-metering-white,.ui-state-active .sprite-kanopya-metering{background-position:-120px -20px;width:20px;height:20px;}
.sprite-kanopya-kernel{background-position:-120px -40px;width:20px;height:20px;}
.sprite-kanopya-kernel-white,.ui-state-active .sprite-kanopya-kernel{background-position:-120px -60px;width:20px;height:20px;}
.sprite-kanopya-import{background-position:-120px -80px;width:20px;height:20px;}
.sprite-kanopya-import-white,.ui-state-active .sprite-kanopya-import{background-position:-120px -100px;width:20px;height:20px;}
.sprite-kanopya-iaas{background-position:0px -120px;width:20px;height:20px;}
.sprite-kanopya-iaas-white,.ui-state-active .sprite-kanopya-iaas{background-position:-20px -120px;width:20px;height:20px;}
.sprite-kanopya-hosting{background-position:-40px -120px;width:20px;height:20px;}
.sprite-kanopya-hosting-white,.ui-state-active .sprite-kanopya-hosting{background-position:-60px -120px;width:20px;height:20px;}
.sprite-kanopya-export{background-position:-80px -120px;width:20px;height:20px;}
.sprite-kanopya-export-white,.ui-state-active .sprite-kanopya-export{background-position:-100px -120px;width:20px;height:20px;}
.sprite-kanopya-details{background-position:-120px -120px;width:20px;height:20px;}
.sprite-kanopya-details-white,.ui-state-active .sprite-kanopya-details{background-position:-140px 0px;width:20px;height:20px;}
.sprite-kanopya-delete{background-position:-140px -20px;width:20px;height:20px;}
.sprite-kanopya-delete-white,.ui-state-active .sprite-kanopya-delete{background-position:-140px -40px;width:20px;height:20px;}
.sprite-kanopya-dashboard{background-position:-140px -60px;width:20px;height:20px;}
.sprite-kanopya-dashboard-white,.ui-state-active .sprite-kanopya-dashboard{background-position:-140px -80px;width:20px;height:20px;}
.sprite-kanopya-customer{background-position:-140px -100px;width:20px;height:20px;}
.sprite-kanopya-customer-white,.ui-state-active .sprite-kanopya-customer{background-position:-140px -120px;width:20px;height:20px;}
.sprite-kanopya-configuration{background-position:0px -140px;width:20px;height:20px;}
.sprite-kanopya-configuration-white,.ui-state-active .sprite-kanopya-configuration{background-position:-20px -140px;width:20px;height:20px;}
.sprite-kanopya-compute{background-position:-40px -140px;width:20px;height:20px;}
.sprite-kanopya-compute-white,.ui-state-active .sprite-kanopya-compute{background-position:-60px -140px;width:20px;height:20px;}
.sprite-kanopya-cancel{background-position:-80px -140px;width:20px;height:20px;}
.sprite-kanopya-cancel-white,.ui-state-active .sprite-kanopya-cancel{background-position:-100px -140px;width:20px;height:20px;}
.sprite-kanopya-alert{background-position:-120px -140px;width:20px;height:20px;}
.sprite-kanopya-alert-white,.ui-state-active .sprite-kanopya-alert{background-position:-140px -140px;width:20px;height:20px;}
.sprite-kanopya-add{background-position:-160px 0px;width:20px;height:20px;}
.sprite-kanopya-add-white,.ui-state-active .sprite-kanopya-add{background-position:-160px -20px;width:20px;height:20px;}
