/* glue: 0.3 hash: c653c5812c */
.ui-icon-workload,
.ui-icon-workload-white,
.ui-icon-trash,
.ui-icon-trash-white,
.ui-icon-system,
.ui-icon-system-white,
.ui-icon-storage,
.ui-icon-storage-white,
.ui-icon-stop,
.ui-icon-stop-white,
.ui-icon-start,
.ui-icon-start-white,
.ui-icon-scale,
.ui-icon-scale-white,
.ui-icon-scalability,
.ui-icon-scalability-white,
.ui-icon-rules,
.ui-icon-rules-white,
.ui-icon-resubmit,
.ui-icon-resubmit-white,
.ui-icon-resources,
.ui-icon-resources-white,
.ui-icon-remote,
.ui-icon-remote-white,
.ui-icon-pause,
.ui-icon-pause-white,
.ui-icon-ok,
.ui-icon-ok-white,
.ui-icon-network,
.ui-icon-network-white,
.ui-icon-monitoring,
.ui-icon-monitoring-white,
.ui-icon-migration,
.ui-icon-migration-white,
.ui-icon-migrate,
.ui-icon-migrate-white,
.ui-icon-metering,
.ui-icon-metering-white,
.ui-icon-kernel,
.ui-icon-kernel-white,
.ui-icon-import,
.ui-icon-import-white,
.ui-icon-iaas,
.ui-icon-iaas-white,
.ui-icon-hosting,
.ui-icon-hosting-white,
.ui-icon-export,
.ui-icon-export-white,
.ui-icon-details,
.ui-icon-details-white,
.ui-icon-delete,
.ui-icon-delete-white,
.ui-icon-dashboard,
.ui-icon-dashboard-white,
.ui-icon-customer,
.ui-icon-customer-white,
.ui-icon-configuration,
.ui-icon-configuration-white,
.ui-icon-compute,
.ui-icon-compute-white,
.ui-icon-cancel,
.ui-icon-cancel-white,
.ui-icon-analysis,
.ui-icon-analysis-white,
.ui-icon-alert,
.ui-icon-alert-white,
.ui-icon-add,
.ui-icon-add-white,
.ui-icon-refresh,
.ui-icon-refresh-white,
.ui-icon-search,
.ui-icon-search-white,
.ui-icon-closethick,
.ui-icon-closethick-white,
.ui-icon-plusthick,
.ui-icon-plusthick-white{background-image:url('/images/kanopya-sprites.png');background-repeat:no-repeat}
.ui-icon-workload{background-position:0px 0px;width:20px;height:20px;}
.ui-icon-workload-white{background-position:-20px 0px;width:20px;height:20px;}
.ui-icon-trash{background-position:0px -20px;width:20px;height:20px;}
.ui-icon-trash-white{background-position:-20px -20px;width:20px;height:20px;}
.ui-icon-system{background-position:-40px 0px;width:20px;height:20px;}
.ui-icon-system-white{background-position:-40px -20px;width:20px;height:20px;}
.ui-icon-storage{background-position:0px -40px;width:20px;height:20px;}
.ui-icon-storage-white{background-position:-20px -40px;width:20px;height:20px;}
.ui-icon-stop{background-position:-40px -40px;width:20px;height:20px;}
.ui-icon-stop-white{background-position:-60px 0px;width:20px;height:20px;}
.ui-icon-start{background-position:-60px -20px;width:20px;height:20px;}
.ui-icon-start-white{background-position:-60px -40px;width:20px;height:20px;}
.ui-icon-scale{background-position:0px -60px;width:20px;height:20px;}
.ui-icon-scale-white{background-position:-20px -60px;width:20px;height:20px;}
.ui-icon-scalability{background-position:-40px -60px;width:20px;height:20px;}
.ui-icon-scalability-white{background-position:-60px -60px;width:20px;height:20px;}
.ui-icon-rules{background-position:-80px 0px;width:20px;height:20px;}
.ui-icon-rules-white{background-position:-80px -20px;width:20px;height:20px;}

/*
.ui-icon-resubmit{background-position:-80px -40px;width:20px;height:20px;}
.ui-icon-resubmit-white{background-position:-80px -60px;width:20px;height:20px;}
*/
.ui-icon-refresh{background-position:-80px -40px;width:20px;height:20px;}
.ui-icon-refresh-white{background-position:-80px -60px;width:20px;height:20px;}

.ui-icon-resources{background-position:0px -80px;width:20px;height:20px;}
.ui-icon-resources-white{background-position:-20px -80px;width:20px;height:20px;}
.ui-icon-remote{background-position:-40px -80px;width:20px;height:20px;}
.ui-icon-remote-white{background-position:-60px -80px;width:20px;height:20px;}
.ui-icon-pause{background-position:-80px -80px;width:20px;height:20px;}
.ui-icon-pause-white{background-position:-100px 0px;width:20px;height:20px;}
.ui-icon-ok{background-position:-100px -20px;width:20px;height:20px;}
.ui-icon-ok-white{background-position:-100px -40px;width:20px;height:20px;}
.ui-icon-network{background-position:-100px -60px;width:20px;height:20px;}
.ui-icon-network-white{background-position:-100px -80px;width:20px;height:20px;}
.ui-icon-monitoring{background-position:0px -100px;width:20px;height:20px;}
.ui-icon-monitoring-white{background-position:-20px -100px;width:20px;height:20px;}
.ui-icon-migration{background-position:-40px -100px;width:20px;height:20px;}
.ui-icon-migration-white{background-position:-60px -100px;width:20px;height:20px;}
.ui-icon-migrate{background-position:-80px -100px;width:20px;height:20px;}
.ui-icon-migrate-white{background-position:-100px -100px;width:20px;height:20px;}
.ui-icon-metering{background-position:-120px 0px;width:20px;height:20px;}
.ui-icon-metering-white{background-position:-120px -20px;width:20px;height:20px;}
.ui-icon-kernel{background-position:-120px -40px;width:20px;height:20px;}
.ui-icon-kernel-white{background-position:-120px -60px;width:20px;height:20px;}
.ui-icon-import{background-position:-120px -80px;width:20px;height:20px;}
.ui-icon-import-white{background-position:-120px -100px;width:20px;height:20px;}
.ui-icon-iaas{background-position:0px -120px;width:20px;height:20px;}
.ui-icon-iaas-white{background-position:-20px -120px;width:20px;height:20px;}
.ui-icon-hosting{background-position:-40px -120px;width:20px;height:20px;}
.ui-icon-hosting-white{background-position:-60px -120px;width:20px;height:20px;}
.ui-icon-export{background-position:-80px -120px;width:20px;height:20px;}
.ui-icon-export-white{background-position:-100px -120px;width:20px;height:20px;}

/*
.ui-icon-details{background-position:-120px -120px;width:20px;height:20px;}
.ui-icon-details-white{background-position:-140px 0px;width:20px;height:20px;}
*/
.ui-icon-search{background-position:-120px -120px;width:20px;height:20px;}
.ui-icon-search-white{background-position:-140px 0px;width:20px;height:20px;}

/*
.ui-icon-delete{background-position:-140px -20px;width:20px;height:20px;}
.ui-icon-delete-white{background-position:-140px -40px;width:20px;height:20px;}
*/
.ui-icon-closethick{background-position:-140px -20px;width:20px;height:20px;}
.ui-icon-closethick-white{background-position:-140px -40px;width:20px;height:20px;}

.ui-icon-dashboard{background-position:-140px -60px;width:20px;height:20px;}
.ui-icon-dashboard-white{background-position:-140px -80px;width:20px;height:20px;}
.ui-icon-customer{background-position:-140px -100px;width:20px;height:20px;}
.ui-icon-customer-white{background-position:-140px -120px;width:20px;height:20px;}
.ui-icon-configuration{background-position:0px -140px;width:20px;height:20px;}
.ui-icon-configuration-white{background-position:-20px -140px;width:20px;height:20px;}
.ui-icon-compute{background-position:-40px -140px;width:20px;height:20px;}
.ui-icon-compute-white{background-position:-60px -140px;width:20px;height:20px;}
.ui-icon-cancel{background-position:-80px -140px;width:20px;height:20px;}
.ui-icon-cancel-white{background-position:-100px -140px;width:20px;height:20px;}
.ui-icon-analysis{background-position:-120px -140px;width:20px;height:20px;}
.ui-icon-analysis-white{background-position:-140px -140px;width:20px;height:20px;}
.ui-icon-alert{background-position:-160px 0px;width:20px;height:20px;}
.ui-icon-alert-white{background-position:-160px -20px;width:20px;height:20px;}

/*
.ui-icon-add{background-position:-160px -40px;width:20px;height:20px;}
.ui-icon-add-white{background-position:-160px -60px;width:20px;height:20px;}
*/
.ui-icon-plusthick{background-position:-160px -40px;width:20px;height:20px;}
.ui-icon-plusthick-white{background-position:-160px -60px;width:20px;height:20px;}

