.multicolumn {
    ul {
        width: 500px;
        list-style-type: none;
    }
    li {
            float: left;
            width: 145px;
            margin: 10px 0 0 0;
            padding: 0 10px 0 0;
    }

    br {
        clear: left;
    }
}
