$purple_color: #69B033;
$background_color: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    font-family: Monospace;
    font-size: 1.05em;
    color: $purple_color;
}

.small {
    font-size: small;
    color: $purple_color;
    text-align: center;
    position: relative;
    top: 20px;
}

div#container {
    margin: auto;
    width: 350px;
    margin-top: 46px;
    background-color: $background_color;
    border: thin solid #69B033;
    padding: 25px;
}

h2 {
    text-align: center;
}

form {
    margin: 12px;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    width: 120px;
    margin-top: 12px;
    &[type="submit"] {
    margin-left: 109px;
    }
}

img#biglogo {
    margin-left: 550px;
    margin-top: 20px;
}

.dfv_errors {
    font-size: 0.8em;
}
