* {
    margin: 0;
    padding: 0;
    font-family: Monospace;
    font-size: 1.05em;
    color: #69B033;
}

.small {
    font-size: small;
    color: #69B033;
    text-align: center;
    position: relative;
    top: 20px;
}

div#container {
    margin: auto;
    width: 350px;
    margin-top: 100px;
    background-color: #FFF;
    border: thin solid #69B033;
    padding: 25px;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

form {
    margin: 12px;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    width: 120px;
    margin-top: 12px;
}

input[type="submit"] {
    margin-left: 109px;
}

img#biglogo {
    margin-bottom: 20px;
}

.dfv_errors {
    font-size: 0.8em;
}
