$color_gray: #C2C2C2;

h2 {
    text-transform: uppercase;
    border-top: 2px solid $color_gray;
}

.clickable:hover {
  cursor: pointer;
  color: #00A; 
}

.hidden { display: none;}

.form {
    margin-left: auto;
    margin-right: auto;
}
