lvm2
iscsitarget1
openiscsi2
apache2
atftpd0
dhcpd3
snmpd5
nfsd3
linux0
syslogng3
mysql5
iptables1
openldap1
opennebula3
haproxy1
keepalived1
memcached1
php5
physicalhoster0
fileimagemanager0
puppetagent2
puppetmaster2
kanopyacollector1
scom_indicator
SCOWorkflows