kanopya
storage
lvm2
iscsi
iscsitarget1
openiscsi2
apache2
tftpd
dhcpd3
snmpd5
nfsd3
linux
syslogng3
mysql5
openldap1
virtualization
opennebula3
haproxy1
keepalived1
memcached1
php5
physicalhoster0
fileimagemanager0
puppetagent2
puppetmaster2
kanopyacollector1
sco
kanopyaworkflow0
mailnotifier0
vsphere5
debian
redhat
suse
kvm
xen
openssh5
openstack
amqp
ceph
hpc_manager
