<config logdir="[% logdir %]">
    <user name="executor" password="[% admin_password %]" />
    <masterimages directory="[% masterimages_dir %]" />
    <tftp directory="[% tftp_dir %]" />
    <clusters directory="[% clusters_dir %]" />
</config>
