<config logdir="[% logdir %]">
	<internalnetwork ip="[% internal_net_add %]" mask="[% internal_net_mask %]"/>
	<dmznetwork ip="[% dmz_net_add %]" mask="[% dmz_net_mask %]"/>
	<dbconf type="mysql" name="kanopya" user="[% db_user %]" password="[% admin_password %]" port="[% dbport %]" host="[% dbip %]" debug="0"/>
</config>
