Source: kanopya-bootmanager
Section: admin
Priority: optional
Maintainer: Hedera Dev Team <dev@hederatech.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://kanopya.org
Vcs-Git: git://git.kanopya.org/mcs/mcs.git

Package: kanopya-bootmanager
Architecture: all
Depends: atftpd, isc-dhcp-server, ntp, ntpdate, openssh-client, openssh-server, liblog-log4perl-perl, liblog-dispatch-perl, libdata-dumper-simple-perl, libexception-class-perl, libxml-simple-perl, libtest-simple-perl, liberror-perl
Description: Boot manager manages Kanopya boot. It includes PXE. 
