<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<div id="content">
<h2>Cluster <TMPL_VAR NAME=CLUSTER_NAME> - Keepalived Configuration</h2>
<hr />
<form method="POST" action="/cgi/mcsui.cgi/components/process_configurecomponent">
<input type="hidden" name="component_instance_id" value="<TMPL_VAR NAME=component_instance_id>"/>
<input type="hidden" name="cluster_id" value="<TMPL_VAR NAME=cluster_id>"/>
<input type="hidden" name="keepalived1_id" value="<TMPL_VAR NAME=keepalived1_id>"/>
<input type="hidden" name="component_name" value="Keepalived1"/>
<table>
<tr><td class="bold right darkgreen">daemon method :</td><td>
<select name="daemon_method">
<option id="master">master</option>
<option id="backup">backup</option>
<option id="both">both</option>
</select>
</td></tr>
<tr><td class="bold right darkgreen">notification email :</td><td><input type="text" size="64" name="notification_email" value="<TMPL_VAR NAME=notification_email>"/></td></tr>
<tr><td class="bold right darkgreen">notification email from:</td><td><input type="text" size="64" name="notification_eamil_from" value="<TMPL_VAR NAME=notification_email_from>"/></td></tr>
<tr><td class="bold right darkgreen">smtp server address :</td><td><input type="text" name="smtp_server" value="<TMPL_VAR NAME=smtp_server>"/></td></tr>
<tr><td class="bold right darkgreen">smtp connection timeout :</td><td><input type="text" size="5" name="smtp_server" value="<TMPL_VAR NAME=smtp_server>"/>
<input type="hidden" name="lvs_id" </td></tr>
</table>
<hr />
<h3>Virtual Servers definition</h3>
<table>
<tr><th></th></tr>
<TMPL_LOOP NAME=apache2_virtualhosts>
<tr><td></td></tr>
</TMPL_LOOP>
</table>
<hr />
<div class="right">
<input type="submit" value="ok"/>
<input type="button" value="cancel" onclick="javascript:document.location='/cgi/mcsui.cgi/clusters/view_clusterdetails?cluster_id=<TMPL_VAR NAME=cluster_id>'"/>
</div>
</form>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
<script type="text/javascript">
document.getElementById('<TMPL_VAR NAME=apache2_loglevel>').selected=1;
</script>
