<html>
<head>
	<title>append element to group</title>
</head>
<body>
<style type="text/css">@import url(/css/form.css);</style>
<div class="title">append element (<TMPL_VAR NAME=gp_type>) to group <TMPL_VAR NAME=gp_name> <TMPL_IF NAME=some_errors><span class="error">Some fields below are missing or invalid</span></TMPL_IF></div>
<TMPL_IF NAME=entity_list>
<form method="POST" action="/cgi/kanopya.cgi/groups/process_appendentity">
<table class="form">
		<tr>
		<td class="label"><TMPL_VAR NAME=gp_type> :</td>
		<td><select name="real_id">
			<TMPL_LOOP NAME=entity_list>
			<option value="<TMPL_VAR NAME=real_id>"><TMPL_VAR NAME=entity_label></option>	
			</TMPL_LOOP>
		</select></td>
	</tr>	
</table>
<div class="buttons">
<input type="hidden" name="gp_id" value="<TMPL_VAR NAME=gp_id>"/>
<input type="submit" value="ok"/>
<input type="button" value="cancel" onclick="javascript:window.close()"/>
</div>
</form> 
<TMPL_ELSE>
<table class="form">
	<tr><td>Nothing to add to this group.</td></tr>
</table>
<div class="buttons">
<input type="button" value="cancel" onclick="javascript:window.close()"/>
</div>
</TMPL_IF>
</body>	
</html>
