<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">@import url(/css/details.css);</style>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/details.js"></script>
<div id="content">
<h2>Group : <TMPL_VAR NAME=gp_name></h2>
<hr/>
<span id="description" class="title simpleexpand">Description</span>
<table id="Xdescription" class="detailspart">
<tr><td class="italic" colspan="2"><TMPL_VAR NAME=gp_desc></td>
<td class="actions" rowspan="5">
<TMPL_IF NAME=can_update>
<a class="imgEdit" href="javascript:openform('/cgi/kanopya.cgi/groups/form_editgroup?gp_id=<TMPL_VAR NAME=gp_id>', 'edit group', 800, 400, '');">edit</a><br />
<span class="desc">Modify name or description of this group.</span><br /><br /></TMPL_IF>
<TMPL_IF NAME=can_delete>
<a class="imgRemove" href="/cgi/kanopya.cgi/groups/process_deletegroup?gp_id=<TMPL_VAR NAME=gp_id>">delete</a><br />
<span class="desc">Delete this group.</span><br /></TMPL_IF>
</td><tr/>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td class="label">Group name :</td><td><TMPL_VAR NAME=gp_name></td></tr>
<tr><td class="label">Group type :</td><td><TMPL_VAR NAME=gp_type></td></tr>
</table>

<hr/>
<span id="contents" class="title simpleexpand">Contents</span>
<table id="Xcontents" class="detailspart">
<tr><td colspan="2">&nbsp;</td>
<td class="actions" rowspan="<TMPL_VAR NAME=content_count>">
<TMPL_IF NAME=can_appendEntity>
<a class="imgAdding" href="javascript:openform('/cgi/kanopya.cgi/groups/form_appendentity?gp_id=<TMPL_VAR NAME=gp_id>', 'append an element ot a group', 500, 200, '');">append</a><br />
<span class="desc">append an element (<TMPL_VAR NAME=gp_type>) to this group.</span><br /><br /></TMPL_IF>
</td></tr>
<TMPL_LOOP NAME=content_list>
<tr><td class="label2"><span class="bold"><TMPL_VAR NAME=content_label></span></td>
<td class="action"><TMPL_IF NAME=can_removeEntity><TMPL_UNLESS NAME=gp_system><a class="imgRemove" href="/cgi/kanopya.cgi/groups/process_removeentity?gp_id=<TMPL_VAR NAME=gp_id>&real_id=<TMPL_VAR NAME=content_id>">remove</a></TMPL_UNLESS></TMPL_IF>
</td></tr>
</TMPL_LOOP>
</table>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
