<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<div id="content">
<h1>Execution Queue</h1>
<table id="executionlist" class="listview">
	<tr><th></th><th>type</th><th>by</th><th>priority</th><th>rank</th><th>creation</th><th>planned</th><th>actions</th></tr><TMPL_LOOP NAME=OPERATIONS>
	<tr>
		<td id="m<TMPL_VAR NAME=ID>" class="expanddown">&nbsp;</td>
		<td><TMPL_VAR NAME=TYPE></td>
		<td><TMPL_VAR NAME=FROM></td>
		<td><TMPL_VAR NAME=PRIORITY></td>
		<td><TMPL_VAR NAME=RANK></td>
		<td><TMPL_VAR NAME=CREATION></td>
		<td><TMPL_VAR NAME=PLANNED></td>
		<td>
		<a class="imgCancel" href="/cgi/kanopya.cgi/systemstatus/process_canceloperation?operation_id=<TMPL_VAR NAME=ID>">cancel</a>
		</td>
	</tr>
	<tr id="t<TMPL_VAR NAME=ID>" class="hidden">
		<td colspan="8">
			<table class="listdetails">	
				<TMPL_LOOP NAME=PARAMETERS>
				<tr><td class="label"><TMPL_VAR NAME=PARAMNAME> : </td><td class="content"><TMPL_VAR NAME=VAL></td></tr>
				</TMPL_LOOP>
			</table>
		</td>
	</tr>
</TMPL_LOOP>
</table>
</div>
<script language="Javascript" src="/js/listingtools.js"></script>
<TMPL_INCLUDE NAME="footer.tmpl">
