<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">@import url(/css/details.css);</style>
<div id="content">
<h2>Group : <TMPL_VAR NAME=groups_name></h2>
<hr/>
<span class="title"></span>
<table class="detailspart">
<tr><td class="italic" colspan="2"><TMPL_VAR NAME=groups_desc></td>
<td class="actions" rowspan="5">
<a class="imgEdit" href="javascript:openform('/cgi/mcsui.cgi/systemimages/form_editgroup?groups_id=<TMPL_VAR NAME=groups_id>', 'edit group', 800, 400, '');">edit</a><br />
<span class="desc">Modify name or description of this group.</span><br /><br />
<a class="imgRemove" href="/cgi/mcsui.cgi/users/process_deletegroup?groups_id=<TMPL_VAR NAME=groups_id>">delete</a><br />
<span class="desc">Delete this group.</span><br />
</td><tr/>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td class="label">Group name :</td><td><TMPL_VAR NAME=groups_name></td></tr>
<tr><td class="label">Group type :</td><td><TMPL_VAR NAME=groups_type></td></tr>
</table>

<hr/>
<span class="title">Contents</span>
<table class="detailspart">
<tr><td colspan="2">&nbsp;</td>
<td class="actions" rowspan="<TMPL_VAR NAME=content_count>">
<a class="imgAdding" href="javascript:openform('/cgi/mcsui.cgi/users/form_appendentity?groups_id=<TMPL_VAR NAME=groups_id>', 'append an element ot a group', 500, 200, '');">append</a><br />
<span class="desc">append an element (<TMPL_VAR NAME=groups_type>) to this group.</span><br /><br />
</td></tr>
<TMPL_LOOP NAME=content_list>
<tr><td class="label2"><span class="bold"><TMPL_VAR NAME=content_label></span></td>
<td class="action"><TMPL_UNLESS NAME=groups_system><a class="imgRemove" href="/cgi/mcsui.cgi/users/process_removeentity?groups_id=<TMPL_VAR NAME=groups_id>&real_id=<TMPL_VAR NAME=content_id>">remove</a></TMPL_UNLESS>
</td></tr>
</TMPL_LOOP>
</table>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
