<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">@import url(/css/form.css);</style>

<div id="content">
<form method="POST" action="/cgi/mcsui.cgi/motherboards/process_addmotherboard">
<table class="form">
	<caption>New motherboard</caption>
	<TMPL_IF NAME=SOME_ERRORS>
	<tr><td class="error" colspan="2">Some fields below are missing or invalid</td></tr>
	</TMPL_IF>
	<tr>
		<td class="label">MAC address :</td>
		<td><input type="text" name="mac_address" maxlength="17" size="17"/>
		<span style="color: red"><TMPL_VAR NAME=ERR_MAC_ADDRESS></span></td>
	</tr>
	<tr>
		<td class="label">Serial Number :</td>
		<td><input type="text" name="serial_number" size="50" /></td>
	</tr>
	<tr>
		<td class="label">Motherboard model :</td>
		<td><select name="motherboard_model">
		<TMPL_LOOP NAME=MOTHERBOARDMODELS>
			<option value="<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME></option>
		</TMPL_LOOP>	
		</select><a class="simple" href="/cgi/mcsui.cgi/models/form_addmotherboardmodel">no found ?</a></td>
	</tr>
	<tr>
		<td class="label">Processor model :</td>
		<td><select name="cpu_model">
		<TMPL_LOOP NAME=PROCESSORMODELS>
			<option value="<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME></option>
		</TMPL_LOOP>	
		</select><a class="simple" href="/cgi/mcsui.cgi/models/form_addprocessormodel">no found ?</a></td>
	</tr>
	<tr>
		<td class="label">Default kernel :</td>
		<td><select name="kernel">
		<TMPL_LOOP NAME=KERNEL>
			<option value="<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME></option>
		</TMPL_LOOP>	
		</select><a class="simple" href="/cgi/mcsui.cgi/models/form_uploadkernel">no found ?</a></td>
	</tr>
	<tr>
		<td class="label">Description :</td>
		<td><textarea cols="50" name="desc" value=""></textarea></td> 
	</tr>
</table>
<div class="formbuttons">
	<input class="button" type="reset" value="clear" />
	<a class="button" href="/cgi/mcsui.cgi/motherboards">cancel</a>
	<input class="button" type="submit" value="add" />
</div>



</form> 
</div>
<TMPL_INCLUDE NAME="footer.tmpl">

