<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/global.css" rel="stylesheet" type="text/css" media="screen" />
<title><TMPL_VAR NAME=titlepage></title>
<TMPL_IF NAME=AUTO_REFRESH>
	<meta http-equiv="Refresh" content="<TMPL_VAR NAME=AUTO_REFRESH>">
</TMPL_IF>
<script language="javascript" src="/js/kanopiaui-tools.js"></script>
</head>
<body id="body">
<div id="container">
<img id="smalllogo" src="/images/smalllogo.png" />
<img id="ivy1" src="/images/ivy1.png" />

