<html>
<head>
<link href="/css/global.css" rel="stylesheet" type="text/css" media="screen" />
<title><TMPL_VAR NAME=TITLE_PAGE></title>
</head>
<body text=black link=blue alink=red >

<div id="container">
	<div id="header">
		<img id="logo" src="/images/logo.png" />
	</div>




<TMPL_IF NAME=ERROR_OCCURS>
<p align=center>
     <span style="color:red"><TMPL_VAR NAME=ERROR_MESS></span>
</p>
</TMPL_IF>
