<html>
<head>
<title>Microcluster Web Interface : login</title>
<link href="/css/login.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="container">
	<img id="logo" src="/images/logo.png" type="image/png" />
	<h2>Microcluster Administrator Access</h2>
	<form action="/cgi/mcsui.cgi/systemstatus">
	<ul>
	<li>
	<label>login:</label>
	<input type="text" /></li>
	
	<li>
	<label>password:</label>
	<input type="password" /></li>
	
	<li class="button">
	<input type="submit" value="ok" />
	<input type="reset" value="clear" />
	</li>
	</ul>
	</form>
</div>
</body>
</html>
