<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Microcluster Web Interface : login</title>
		<link href="/css/login.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
<body>
<div id="container">
	<img id="biglogo" src="/images/biglogo.png" type="image/png" />
	<h2>Microcluster Administrator Access</h2>
	<form method="POST" action="/cgi/mcsui.cgi/login/process_login">
	<ul>
	<li>
	<label>login:</label>
	<input type="text" value="admin"/></li>
	
	<li>
	<label>password:</label>
	<input type="password" /></li>
	
	<li class="button">
	<input type="submit" value="ok" />
	<input type="reset" value="clear" />
	</li>
	</ul>
	</form>
	<div class="small">Hedera Technology</div>
</div>
</body>
</html>
