<div id="menu"><a id="logout" href="/cgi/mcsui.cgi/login/process_logout">logout</a><TMPL_IF NAME=MENU_SYSTEMSTATUS>
	<ul>
		<li id="current"><a>System Status</a></li>
		<li><a href="/cgi/mcsui.cgi/motherboards">Settings</a></li>
		<li><a href="/cgi/mcsui.cgi/clusters/view_clusters">Clusters Management</a></li>
		<li><a href="">other</a></li>
	</ul>
</div>
<TMPL_INCLUDE NAME="submenu_systemstatus.tmpl"></TMPL_IF>
<TMPL_IF NAME=MENU_CONFIGURATION>	
	<ul>
		<li><a href="/cgi/mcsui.cgi/systemstatus">System Status</a></li>
		<li id="current"><a>Settings</a></li>
		<li><a href="/cgi/mcsui.cgi/clusters/view_clusters">Clusters Management</a></li>
		<li><a href="">other</a></li>
	</ul>
</div>
<TMPL_INCLUDE NAME="submenu_configuration.tmpl"></TMPL_IF>
<TMPL_IF NAME=MENU_CLUSTERSMANAGEMENT>	
	<ul>
		<li><a href="/cgi/mcsui.cgi/systemstatus">System Status</a></li>
		<li><a href="/cgi/mcsui.cgi/motherboards">Settings</a></li>
		<li id="current"><a>Clusters Management</a></li>
		<li><a href="">other</a></li>
	</ul>
</div>
<TMPL_INCLUDE NAME="submenu_clustersmanagement.tmpl"></TMPL_IF>	

