<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<div id="content">
TODO <br /><br />

Identifier les clusters appartenant a l'administration et les traiter differement !<br />
- on ne doit pas pouvoir faire de deactivate, ou de start/stop ou de add/remove/configure component dessus, ...<br /><br />

Clusters -> Clusters -> edit <br /><br />

Clusters -> Clusters -> listing des components : specifier "quelque part" dans le core pour chaque component s'il est configurable par
les utilisateurs ou non (pour cacher/affichier le lien 'configure')<br /><br />

Systems -> System images -> deactivate : c'est l'operation qui verifie si le system image est
utilisee ou non (le lien deactivate est toujours present dans l'interface)<br /><br />


<br /><br />
Idees / les + a apporter :<br /><br />

Dans les pages de details, pouvoir collapser les differentes parties<br /><br />

Lorsqu'une nouvelle operation est ajoutee en queue, afficher automatiquement la fenetre de la liste d'operation
Lorsqu'un nouveau operation est ajoutee en queue, afficher automatiquement la fenetre des messages

</div>
