<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<div id="content">
<h3>Observations / Reflexions / TODO</h3>

<h4>partout</h4>

> TODO les fonctions de verification des contenus de champ de saisie<br />
> TODO edit formulaire<br />

<h4>Hardware > Models</h4>

> TODO process remove motherboardmodel/processormodel

<h4>Clusters > Clusters</h4>



> listing des components : specifier "quelque part" dans le core pour chaque component s'il est configurable par
les utilisateurs ou non (pour cacher/affichier le lien 'configure')<br /><br />

Identifier les clusters appartenant a l'administration et les traiter differement !<br />
- on ne doit pas pouvoir faire de deactivate, ou de start/stop ou de add/remove/configure component dessus, ...<br /><br />

<h4>Systems > System images</h4> 

> action deactivate : c'est l'operation qui verifie si le system image est
utilisee ou non (le lien deactivate est toujours present dans l'interface)<br /><br />



<h3>Idees / les petits + a apporter</h3>

<h4>messages</h4>

> on peut ajouter des cases a cocher sur les niveaux a afficher : debug, error, warning, info<br />
ainsi que des cases a cocher sur le provenance des messages : Administrator, Executor, Monitor, UI, Orchestrator<br />

<h4>Dans les pages de details</h4>
pouvoir collapser les differentes parties<br /><br />

Lorsqu'une nouvelle operation est ajoutee en queue, afficher automatiquement la fenetre de la liste d'operation
Lorsqu'un nouveau operation est ajoutee en queue, afficher automatiquement la fenetre des messages

</div>
