<div id="submenu">
	<ul>
	<li><a class="imgEye" href="">Overview</a></li>
	<li><a class="imgDatabase" href="">Database Server</a></li>
	<li><a class="imgBoot" href="">Boot Server</a></li>
	<li><a class="imgExecute" href="/cgi/mcsui.cgi/systemstatus/view_executionqueue">Executor</a>
		<ul>
			<li class="separator"><a class="imgListing" href="/cgi/mcsui.cgi/systemstatus/view_executionqueue">Execution queue</a></li>
		</ul></li>
	<li><a class="imgMonitor" href="">Monitor</a></li>
	</ul>
</div>

