<div id="submenu">
	<ul>
	<li><a class="imgHardware nolink">Hardware</a>
		<ul>
			<li><a class="imgListing" href="/cgi/mcsui.cgi/motherboards">Motherboards</a></li>
			<li class="separator"><a class="imgAdding" href="/cgi/mcsui.cgi/motherboards/form_addmotherboard">Add motherboard</a></li>
			<li><a class="imgListing" href="/cgi/mcsui.cgi/models">Models</a></li>
			<li><a class="imgAdding" href="/cgi/mcsui.cgi/models/form_addprocessormodel">Add processor model</a></li>
			<li class="separator"><a class="imgAdding" href="/cgi/mcsui.cgi/models/form_addmotherboardmodel">Add motherboard model</a></li>
		</ul>
	</li>
	<li><a class="imgLinux nolink">Linux ressources</a>
		<ul>
			<li><a class="imgListing" href="/cgi/mcsui.cgi/kernels/">Kernels</a></li>
			<li class="separator"><a class="imgAdding" href="/cgi/mcsui.cgi/motherboards/form_addmotherboard">Upload kernel</a></li>
			<li><a class="imgListing" href="/cgi/mcsui.cgi/systemimages">System Images</a></li>
			<li class="separator"><a class="imgAdding" href="/cgi/mcsui.cgi/systemimages/form_addsystemimage">Add system image</a></li>
			<li class="separator"><a class="imgListing" href="/cgi/mcsui.cgi/distributions">Distributions</a></li>
		</ul>
	</li>
	<li><a class="imgRights nolink">Rights</a></li>
	</ul>
</div>
