<div id="submenu">
	<a <TMPL_IF NAME=SUBMENU_MAINVIEW>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/systemstatus"</TMPL_IF>>Main View</a>
	<a <TMPL_IF NAME=SUBMENU_EXECQUEUE>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/systemstatus/view_executionqueue"</TMPL_IF>>Execution Queue</a>
</div>
