<div id="submenu">
	<ul>
	<li><a class="imgCluster nolink" href="">Clusters</a>
		<ul>
			<li><a class="imgListing" href="/cgi/mcsui.cgi/clusters">Cluster view</a></li>
			<li><a class="imgAdding" href="/cgi/mcsui.cgi/clusters/form_addcluster">Add predefined cluster</a></li>
			<li class="separator"><a class="imgAdding" href="/cgi/mcsui.cgi/clusters/form_addcluster">Add custom cluster</a></li>
		</ul>
	</li>
	<li><a class="imgNetwork nolink" href="">Network</a>
		<ul>
			<li><a class="imgListing" href="/cgi/mcsui.cgi/network/view_publicips">Public IPs</a></li>
			<li class="separator"><a class="imgAdding" href="/cgi/mcsui.cgi/network/form_addpublicip">Add public ip</a></li>
		</ul>
	</li>
	<li><a class="imgLinux nolink" href="">System image</a>
		<ul>
			<li><a class="imgListing" href="/cgi/mcsui.cgi/systemimages/view_systemimages">Systemimages view</a></li>
			<li class="separator"><a class="imgAdding" href="/cgi/mcsui.cgi/systemimages/form_addsystemimage">Add system image</a></li>
		</ul>
	</li>
	<li><a class="imgHarddisk nolink" href="">Shared disk</a>
		<ul>
			<li><a class="imgListing" href="/cgi/mcsui.cgi/shareddisks/view_shareddisks">Shared disk view</a></li>
			<li class="separator"><a class="imgAdding" href="/cgi/mcsui.cgi/shareddisks/form_addshareddisk">Add shared disk</a></li>
		</ul>
	</li>
	</ul>
</div>
