<div id="submenu">
	<a <TMPL_IF NAME=SUBMENU_CLUSTERS>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/clusters"</TMPL_IF>>Clusters</a>
	<a <TMPL_IF NAME=SUBMENU_SYSTEMIMAGES>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/systemimages"</TMPL_IF>>System images</a>
	<a <TMPL_IF NAME=SUBMENU_SHAREDDISKS>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/shareddisks"</TMPL_IF>>Shared Disks</a>
</div>
