<div id="submenu">
	<ul>
	<li><a class="imgCluster" href="">Clusters</a>
		<ul>
			<li><a class="imgListing" href="/cgi/mcsui.cgi/clusters">Cluster view</a></li>
			<li><a class="imgAdding" href="/cgi/mcsui.cgi/clusters/form_addcluster">Add predefined cluster</a></li>
			<li class="separator"><a class="imgAdding" href="/cgi/mcsui.cgi/clusters/form_addcluster">Add custom cluster</a></li>
		</ul>
	</li>
	<li><a class="imgNetwork" href="">Network</a>
		<ul>
			<li><a class="imgListing" href="/cgi/mcsui.cgi/network/view_publicips">Public IPs</a></li>
			<li class="separator"><a class="imgAdding" href="/cgi/mcsui.cgi/network/form_addpublicip">Add public ip</a></li>
		</ul>
	</li>
	</ul>
</div>
