<div id="submenu">
	<a <TMPL_IF NAME=SUBMENU_MOTHERBOARDS>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/motherboards"</TMPL_IF>>Motherboards</a>
	<a <TMPL_IF NAME=SUBMENU_NETWORK>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/network"</TMPL_IF>>Network</a>
	<a <TMPL_IF NAME=SUBMENU_RIGHTS>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/rights"</TMPL_IF>>Rights</a>
	<a <TMPL_IF NAME=SUBMENU_MODELS>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/models"</TMPL_IF>>Models</a>
	<a <TMPL_IF NAME=SUBMENU_REPOSITORIES>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/repositories"</TMPL_IF>>Repositories</a>
	<a <TMPL_IF NAME=SUBMENU_EQUIPEMETS>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/equipments"</TMPL_IF>>Equipments</a>
	<a <TMPL_IF NAME=SUBMENU_STORAGE>class="select"<TMPL_ELSE>href="/cgi/mcsui.cgi/storage"</TMPL_IF>>Storage</a>
</div>
