<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

<div id="content">

<button id='button_op_and'>and</button>

<table class='rulesview'>
<tr><th>var1</th><td>fdfeaz</td><td class='op_sep'>fez</td><td class='action'>action</td></tr>
<tr><th>var2</th><td>fdfeaz</td><td class='op_sep'>fez</td><td class='action'>action</td></tr>
<tr><th>var3</th><td>fdfeaz</td><td class='op_sep'>fez</td><td class='action'>action</td></tr>
<tr><th>var4</th><td>fdfeaz</td><td class='op_sep'>fez</td><td class='action'>action</td></tr>
<tr><th>var5</th><td>fdfeaz</td><td class='op_sep'>fez</td><td class='action'>action</td></tr>
</table>

</div>
<TMPL_INCLUDE NAME="footer.tmpl">