<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<div id="content">
<h1>System Images</h1>
<table id="systemimagelist" class="listview">
	<tr><th></th><th>name</th><th>distribution</th><th>active</th><th>actions</th></tr><TMPL_LOOP NAME=SYSTEMIMAGE>
	<tr>
		<td id="m<TMPL_VAR NAME=ID>" class="expand">+</td>
		<td><TMPL_VAR NAME=NAME></td>
		<td><TMPL_VAR NAME=DISTRO></td>
		<td><img src="/images/icons/<TMPL_IF NAME=ACTIVE>active.png<TMPL_ELSE>deactive.png</TMPL_IF>"/></td>
		<td>
		<TMPL_IF NAME=ACTIVE><a class="imgDeactive" href="/cgi/mcsui.cgi/systemimages/process_deactivatesystemimage?systemimage_id=<TMPL_VAR NAME=ID>">deactivate</a>
		<TMPL_ELSE><a class="imgActive" href="/cgi/mcsui.cgi/systemimages/process_activatesystemimage?systemimage_id=<TMPL_VAR NAME=ID>">activate</a>
		|<a class="imgEdit" href="">edit</a>
		|<a class="imgRemove" href="/cgi/mcsui.cgi/systemimages/process_removesystemimage?systemimage_id=<TMPL_VAR NAME=ID>">remove</a>
		</TMPL_IF>
		</td>
	</tr>
	<tr id="t<TMPL_VAR NAME=ID>" class="hidden">
		<td colspan="5">
				<table class="listdetails">
					<tr><td colspan="2"><TMPL_VAR NAME=DESC></td></tr>
				</table>
			</td>
	</tr>
	</TMPL_LOOP>
</table>

</div>
<script language="Javascript">
function selectme() { 
	if(this.innerHTML == '+') { 
		this.innerHTML = '-'; 
		document.getElementById('t'+this.id.substring(1)).className = ''; 
	}
	else { 
		this.innerHTML = '+';
		document.getElementById('t'+this.id.substring(1)).className = 'hidden'; 
	}
}

motherboardline = document.getElementById('systemimagelist').getElementsByClassName('expand');
for(i=0;i<motherboardline.length;i++) {
	motherboardline[i].onclick = selectme;
}
</script>
<TMPL_INCLUDE NAME="footer.tmpl">
