<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<div id="content">
ici liste des clusters <br/> 
ici liste des clusters <br/>
ici liste des clusters <br/>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
