<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<div id="content">
<h1>Shared Disks</h1>
</div>
<script language="Javascript" src="/js/listingtools.js"></script>
<TMPL_INCLUDE NAME="footer.tmpl">
