<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<!--





<TMPL_LOOP NAME=CLUSTERS>
<TMPL_VAR NAME=ID>
<TMPL_VAR NAME=ID>
<TMPL_VAR NAME=NAME>
<TMPL_VAR NAME=PRIORITY>
<TMPL_VAR NAME=SYSTEMIMAGE>
<TMPL_VAR NAME=NODESCOUNT>
<TMPL_VAR NAME=PUBLICIP>
</TMPL_LOOP>

<TMPL_LOOP NAME=NODES>
<TMPL_VAR NAME=MAC>
<TMPL_VAR NAME=IP>
<TMPL_VAR NAME=NAME>
</TMPL_LOOP>


<TMPL_INCLUDE NAME="footer.tmpl">
-->
