<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<div id="content">
<h1>Public IPs</h1>
<table id="publiciplist" class="listview">
	<tr><th>ip</th><th>mask</th><th>gateway</th><th>already used</th><th>actions</th></tr><TMPL_LOOP NAME=PUBLICIPS>
	<tr>
		<td id="m<TMPL_VAR NAME=PUBLICIP_ID>"><TMPL_VAR NAME=IP_ADDRESS></td>
		<td><TMPL_VAR NAME=IP_MASK></td>
		<td><TMPL_VAR NAME=GATEWAY></td>
		<td><TMPL_IF NAME=CLUSTER_ID>yes<TMPL_ELSE>no</TMPL_IF></td>
		<td><TMPL_IF NAME=CLUSTER_ID>
		<TMPL_ELSE>
		<a class="imgRemove" href="/cgi/mcsui.cgi/network/process_removepublicip?publicip_id=<TMPL_VAR NAME=PUBLICIP_ID>">remove</a>
		</TMPL_IF>
		</td>
	</tr>
</TMPL_LOOP>
</table>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
