<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<div id="content">
<h1>Motherboards</h1>
<table id="motherboardlist" class="listview">
	<tr><th></th><th>place</th><th>model</th><th>state</th><th>active</th><th>actions</th></tr><TMPL_LOOP NAME=MOTHERBOARDS>
	<tr>
		<td id="m<TMPL_VAR NAME=ID>" class="expanddown">&nbsp;</td>
		<td><TMPL_VAR NAME=POSITION></td>
		<td><TMPL_VAR NAME=MODEL></td>
		<td><TMPL_VAR NAME=STATE></td>
		<td><img src="/images/icons/<TMPL_IF NAME=ACTIVE>active.png<TMPL_ELSE>deactive.png</TMPL_IF>"/></td>
		<td><TMPL_IF NAME=ACTIVE>
		<a class="imgDeactive" href="/cgi/mcsui.cgi/motherboards/process_deactivatemotherboard?motherboard_id=<TMPL_VAR NAME=ID>">deactivate</a>
		<TMPL_ELSE><a class="imgActive" href="/cgi/mcsui.cgi/motherboards/process_activatemotherboard?motherboard_id=<TMPL_VAR NAME=ID>">activate</a>
		|<a class="imgEdit" href="">edit</a>
		|<a class="imgRemove" href="/cgi/mcsui.cgi/motherboards/process_removemotherboard?motherboard_id=<TMPL_VAR NAME=ID>">remove</a>
		</TMPL_IF>
		</td>
	</tr>
	<tr id="t<TMPL_VAR NAME=ID>" class="hidden">
		<td colspan="6">
			<table class="listdetails">
				<tr><td class="label">S/N : </td><td class="content"><TMPL_VAR NAME=SN></td></tr>
				<tr><td class="label">mac address : </td><td class="content"><TMPL_VAR NAME=MAC></td></tr>
				<tr><td class="label">CPU : </td><td class="content"><TMPL_VAR NAME=CPU></td></tr>
				<tr><td class="label">cores number : </td><td class="content"><TMPL_VAR NAME=CORES></td></tr>
				<tr><td class="label">RAM quantity (GB): </td><td class="content"><TMPL_VAR NAME=RAM></td></tr>
				<tr><td class="label">consumption (W): </td><td class="content"><TMPL_VAR NAME=CONSUMPTION></td></tr>
				<tr><td colspan="2"><hr/></td></tr>
				<tr><td class="label">internal ip : </td><td class="content"><TMPL_VAR NAME=IP></td></tr>
				<tr><td class="label">default kernel : </td><td class="content"><TMPL_VAR NAME=KERNEL></td></tr>
				<tr><td colspan="2"><hr/></td></tr>
				<tr><td colspan="2"><TMPL_VAR NAME=DESC></td>
			</table>
		</td>
	</tr>
</TMPL_LOOP>
</table>
</div>
<script language="Javascript" src="/js/listingtools.js"></script>
<TMPL_INCLUDE NAME="footer.tmpl">
