<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<div id="content">
<h1>Distributions</h1>
<table id="distributionlist" class="listview">
	<tr><th></th><th>name</th><th>version</th><th>description</th></tr><TMPL_LOOP NAME=DISTRIBUTIONS>
	<tr>
		<td id="m<TMPL_VAR NAME=ID>" class="expand">+</td>
		<td><TMPL_VAR NAME=NAME></td>
		<td><TMPL_VAR NAME=VERSION></td>
		<td><TMPL_VAR NAME=DESC></td>
	</tr>
	<tr id="t<TMPL_VAR NAME=ID>" class="hidden">
		<td colspan="7">
			<table class="listdetails">	
				<tr><th colspan="2">Components provided</th></tr>
				<TMPL_LOOP NAME=COMPONENTS>
				<tr id="c<TMPL_VAR NAME=COMPONENT_ID>"><td class="label"><TMPL_VAR NAME=COMPONENT_NAME></td>
					<td class="content">v<TMPL_VAR NAME=COMPONENT_VERSION> (<TMPL_VAR NAME=COMPONENT_CATEGORY>)</td>
				</tr>
				</TMPL_LOOP>
			</table>
		</td>
	</tr>
</TMPL_LOOP>
</table>
</div>
<script language="Javascript">

function selectme() { 
	if(this.innerHTML == '+') { 
		this.innerHTML = '-'; 
		document.getElementById('t'+this.id.substring(1)).className = ''; 
	}
	else { 
		this.innerHTML = '+';
		document.getElementById('t'+this.id.substring(1)).className = 'hidden'; 
	}
}

motherboardline = document.getElementById('distributionlist').getElementsByClassName('expand');
for(i=0;i<motherboardline.length;i++) {
	motherboardline[i].onclick = selectme;
}

</script>
<TMPL_INCLUDE NAME="footer.tmpl">
