<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<div id="content">
<h1>System Images</h1>
<table id="systemimagelist" class="listview">
	<tr><th></th><th>name</th><th>distribution</th><th>active</th><th>actions</th></tr><TMPL_LOOP NAME=SYSTEMIMAGE>
	<tr>
		<td id="m<TMPL_VAR NAME=ID>" class="expanddown">&nbsp;</td>
		<td><TMPL_VAR NAME=NAME></td>
		<td><TMPL_VAR NAME=DISTRO></td>
		<td><img src="/images/icons/<TMPL_IF NAME=ACTIVE>active.png<TMPL_ELSE>deactive.png</TMPL_IF>"/></td>
		<td>
		<TMPL_IF NAME=ACTIVE><a class="imgDeactive" href="/cgi/mcsui.cgi/systemimages/process_deactivatesystemimage?systemimage_id=<TMPL_VAR NAME=ID>">deactivate</a>
		<TMPL_ELSE><a class="imgActive" href="/cgi/mcsui.cgi/systemimages/process_activatesystemimage?systemimage_id=<TMPL_VAR NAME=ID>">activate</a>
		|<a class="imgEdit" href="">edit</a>
		|<a class="imgRemove" href="/cgi/mcsui.cgi/systemimages/process_removesystemimage?systemimage_id=<TMPL_VAR NAME=ID>">remove</a>
		</TMPL_IF>
		</td>
	</tr>
	<tr id="t<TMPL_VAR NAME=ID>" class="hidden">
		<td colspan="5">
				<table class="listdetails">
					<tr><td colspan="2" class="content"><TMPL_VAR NAME=DESC></td></tr>
					<tr><th colspan="2">Components installed</th></tr>
					<TMPL_LOOP NAME=COMPONENTS>
					<tr id="c<TMPL_VAR NAME=COMPONENT_ID>"><td class="label"><TMPL_VAR NAME=COMPONENT_NAME></td>
					<td class="content">v<TMPL_VAR NAME=COMPONENT_VERSION> (<TMPL_VAR NAME=COMPONENT_CATEGORY>)</td>
					</TMPL_LOOP>
				</tr>
				</table>
			</td>
	</tr>
	</TMPL_LOOP>
</table>

</div>
<script language="Javascript" src="/js/listingtools.js"></script>
<TMPL_INCLUDE NAME="footer.tmpl">
