<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="menu.tmpl">
<style type="text/css">
@import url(/css/listing.css);
</style>
<div id="content">

<div id="admin_status">
<TMPL_LOOP NAME=COMPONENTS_STATUS>
	<table class="status">
	<TMPL_LOOP NAME=GROUP>
		<tr id="m<TMPL_VAR NAME=ID>" class="expanddown">
			<th colspan="2" class="img<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=LABEL></th><td id="status<TMPL_VAR NAME=ID>" class="img<TMPL_VAR NAME=STATUS>">&nbsp;</td>
		</tr>
		<tr id="t<TMPL_VAR NAME=ID>" class="hidden">
			<td><table class="listdetails">
				<TMPL_LOOP NAME=DETAILS>
					<tr><td><TMPL_VAR NAME=NAME></td><td id="status<TMPL_VAR NAME=NAME>" class="img<TMPL_VAR NAME=STATUS>">&nbsp;</td></tr>
				</TMPL_LOOP>
			</table></td>
		</tr>
	</TMPL_LOOP>
	</table>
</TMPL_LOOP>
</div>

<h1>* Running Clusters *</h1>

<table id="clusterlist" class="listview">
	<tr><th>name</th><th>priority</th><th>system image</th><th>nodes</th><th>public ip</th></tr><TMPL_LOOP NAME=CLUSTERS>
	<tr id="m<TMPL_VAR NAME=ID>">
		<td><a href="/cgi/mcsui.cgi/clusters/view_clusterdetails?cluster_id=<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME></a></td>
		<td><TMPL_VAR NAME=PRIORITY></td>
		<td><TMPL_VAR NAME=SYSTEMIMAGE></td>
		<td><TMPL_VAR NAME=NODESCOUNT></td>
		<td><TMPL_VAR NAME=PUBLICIP></td>
	</tr></TMPL_LOOP>
</table>

<h1>* Running Nodes *</h1>	

<table id="nodeslist" class="listview">
	<tr><th>mac</th><th>ip</th><th>cluster</th><TMPL_LOOP NAME=NODES>
	<tr>
		<td><TMPL_VAR NAME=MAC></td><td><TMPL_VAR NAME=IP></td><td><TMPL_VAR NAME=NAME></td>
	</tr></TMPL_LOOP>
</table>
</div>
<script language="Javascript" src="/js/listingtools.js"></script>
<script language="Javascript">refresh_status()</script>

<TMPL_INCLUDE NAME="footer.tmpl">

