//
// list
// --------------------------------------------------

// Core variables
@import "variables.less";
@import "mixins.less";
@import "../../components/bootstrap/less/variables.less";
@import "../../components/bootstrap/less/mixins.less";

.list.container {
    width: 100%;
    padding: 0;
    font-weight: normal;
}

.list-container {
    .make-row();
    margin: -(@list-gutter / 2);
}

.list-item {
    .make-lg-column(12);     
    padding: (@list-gutter / 2);
}

.list-item-box {
    background-color: @list-background-color;
    padding: 15px;

    .button-group {
        .btn {
            position: relative;

            i {
                position: absolute;
                top: 10px;
                left: 50%;
                margin-left: -8px;
                color: #ffffff;
            }
        }
        .btn-action3 {
            .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
            margin-left: 30px;
        }
        .btn-action2 {
            .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);

            &.transparent-text {
                color: @btn-primary-bg;
            }
            &.transparent-text:hover,
            &.transparent-text:focus {
                color: darken(@btn-primary-bg, 10%);
            }
        }

        .btn-action1 {
            .button-variant(#fff; @theme-color1; darken(@theme-color1, 5%));
            float: right;
        }

        .spin {
          -webkit-animation: spin 2s infinite linear;
          -moz-animation   : spin 2s infinite linear;
          -o-animation     : spin 2s infinite linear;
          animation        : spin 2s infinite linear;
        }
        @-moz-keyframes spin {
            from {
                -moz-transform: rotate(0deg);
            }
            to {
                -moz-transform: rotate(360deg);
            }
        }
        @-webkit-keyframes spin {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}

.list-item-info {
    .clearfix;

    .name {
        float: left;
        font-size: @font-size-h3;
        font-weight: bold;

        > span {
            display: inline-block;
        }
        > span:hover {
            cursor: pointer;
        }

        .ip {
        font-size: @font-size-xs;
        font-weight: normal;
        }
    }
    .name.openstack {
        background: url(/images/iaas-openstack-64.png) no-repeat top left;
        height: 64px;
        padding-left: 74px;
    }

    .state {
        float: right;
        font-size: @font-size-xs;
        text-align: center;

        .glyphicon {
            font-size: 40px;
        }
        .glyphicon-thumbs-up {
            color: @success-color;
        }
        .glyphicon-thumbs-down {
            color: @error-color;
        }
        .glyphicon-remove {
            color: @error-color;
        }
    }
}

.list-line {
    .margin-vertical(15px);
    .make-line
}

.list-properties {
    .make-row();
    .padding-horizontal(15px);
    .clearfix;

    > div {
        border-left: 5px solid @lineColor;
        text-align: center;
        height: 75px;

        .title {
            font-size: @font-size-base;
            font-weight: bold;
            color: @theme-color1;
        }
        .number {
            font-family: @font-family-sans-serif;
            font-weight: bold;
            color: black;
        }
        .value {
            font-size: @font-size-h1;
        }
    }
    > div.first {
        border-left-width: 0;
    }
    
    .vm {
        .make-xs-column(2);
    }

    .hypervisor {
        .make-xs-column(2);
        .padding-horizontal(5px);
    }

    .cpu-ram {
        .make-xs-column(4);
        padding-left: 5px;
        padding-right: 5px;

        .detail {
            margin: 5px auto;

            > div {
                float: left;
            }

            .donut-chart {
                .size(66px, 86px);
                margin-top: -18px;
                margin-left: -10px;

                .jqplot-title {
                    top: 34px !important;
                }
            }

            .info {
                padding-left: 0px;
                padding-right: 0;

                margin-top: 15px;
                line-height: 120%;

                > div {
                    float: left;
                }

                .total {
                    font-size: @font-size-h3;
                    padding-right: 0;
                    margin-right: 0;
                }

                .used {
                    font-size: @font-size-h3;
                    border-left-width: 5px;
                    border-left-style: solid;
                    padding-left: 10px;
                }

                .label {
                    font-size: @font-size-xs;
                    font-weight: normal;
                    color: black;
                    padding-left: 5px;
                    padding-right: 10px;
                }
            }
        }
    }

    .cpu {
        .detail {
            width: 210px;
        }
        .used {
            border-left-color: #1D871B;
        }
    }

    .ram {
        .detail {
            width: 220px;
        }
        .used {
            border-left-color: #4E8FFF;
        }
    }
}
