<html>
<head>
<meta http-equiv="refresh" content="5" />
<link href="/css/global.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/css/messages.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/js/extern/jquery.js"></script>
</head>
<body>
<script type="text/javascript" src="/js/messages.js"></script>
<table class="controls">
	<tr>
	<td class="header">messages origin:</td>
	<td><input id="checkAllFrom" type="button" value="all"/></td>
	<td class="chkbx"><input class="frm" type="checkbox" value="Administrator" /></td><td class="txt imgDatabase">Administrator</td>
	<td class="chkbx"><input class="frm" type="checkbox" value="Executor" /></td><td class="txt imgExecute">Executor</td>
	<td class="chkbx"><input class="frm" type="checkbox" value="Monitor" /></td><td class="txt imgMonitor">Monitor</td>
	<td class="chkbx"><input class="frm" type="checkbox" value="Orchestrator" /></td><td class="txt imgOrchestrator">Orchestrator</td>
	<td class="chkbx"><input class="frm" type="checkbox" value="Planner" /></td><td class="txt imgPlanner">Planner</td>
	</tr>
</table>	
<table class="controls">
	<td class="header">messages level:</td>
	<td><input id="checkAllLevel" type="button" value="all"/></td>
	<td class="chkbx"><input class="lvl" type="checkbox" value="info" /></td><td class="txt imgInfo">info</td>
	<td class="chkbx"><input class="lvl" type="checkbox" value="warning" /></td><td class="txt imgWarning">warning</td>
	<td class="chkbx"><input class="lvl" type="checkbox" value="error" /></td><td class="txt imgError">error</td>
	<td class="chkbx"><input class="lvl" type="checkbox" value="debug" /></td><td class="txt imgDebug">debug</td>
	</tr>
</table>
<div id="scrolldiv">
<table id="messagelist">
	<TMPL_LOOP NAME="messages_list">
	<tr class="<TMPL_VAR NAME=color> C<TMPL_VAR NAME=from> C<TMPL_VAR NAME=level>">
	<td class="from <TMPL_VAR NAME=from>">&nbsp;</td>
	<td class="level <TMPL_VAR NAME=level>">&nbsp;</td>
	<td class="date"><TMPL_VAR NAME=date></td>
	<td class="time"><TMPL_VAR NAME=time></td>
	<td class="content"><TMPL_VAR NAME=content></td></tr>
	</TMPL_LOOP>
</table>
</div>
</body>
</html>
