CLIENTS = "10.1.1.2 10.1.1.3"
#CLIENTS = "10.1.1.2"

#SIMULTANEOUS_SESSIONS = 100&200&300&400&500

SIMULTANEOUS_SESSIONS   = [% simultaneous_sessions %]

THREAD_RAMPUP_SECONDS   = 30   #A >= 180
WARMUP_SECONDS          = 30   #B >= 300
RUN_SECONDS             = 1200  #C = 1800
THREAD_RAMPDOWN_SECONDS = 30   #D >= 180
RAMPDOWN_SECONDS        = 30   #E =300
RAMPUP_SECONDS          = 30   #F ( =B) (=300)

NUM_RAND_LOADS          = 10
INTRA_INTERVAL_RAMP_SEC = 120 # 350

##

ITERATIONS = 1

DEBUG_LEVEL = 1
TRACE_WORKLOAD = 1
INTERVAL_POLL_VALUES = 1
POLL_CLIENTS = 1
USE_GUI = 0

########################

TEST_TYPE=SPECweb_Banking
#WEB_SERVER = bench.kanopya.org
WEB_SERVER = "10.1.1.253" #public ip of the benched cluster
WEB_PORT = 80 #input port (front end)
SSL_PORT = 443

BESIM_SERVER = "10.1.2.253" #specweb data source server
BESIM_PORT = "80"
BESIM_INIT_SCRIPT = "/fcgi-bin/besim_fcgi.fcgi" # FCGI
BESIM_PERSISTENT = 0
SMARTY_DIR = "/srv/www/smarty/libs/"
SMARTY_BANK_DIR = "/srv/www/bank/"
SMARTY_ECOMMERCE_DIR = "/srv/www/ecommerce/"
SMARTY_SUPPORT_DIR = "/srv/www/support/"
SEND_CONTENT_LENGTH = 1
HTTP_PROTOCOL = "HTTP/1.1"


WAIT_TO_BEGIN = 5
KILL_CLIENT = 1


LANGUAGE = EN
COUNTRY = US


PARALLEL_CONNS = 1
SLEEP_TEST_ITERATIONS = 20
BEAT_INTERVAL = 10
OVERLOAD_RUN = 0
MAX_OVERTHINK_TIME = 20000
OVERLOAD_FACTOR = 1.6
SSL_PROTOCOL = "SSLv3"
SSL_CIPHER = "SSL_RSA_WITH_RC4_128_MD5"
IGNORE_WPD_ERRORS = 0
SSL_REQUEST_PERCENT = 0
COND_GET_REQ_PERCENT = 0
MIN_REQUESTS_PER_KEEP_ALIVE = 5
MAX_REQUESTS_PER_KEEP_ALIVE = 15
PERCENT_KEEP_ALIVE_REQUESTS = 70
PROTOCOL_TIMEOUT_SECONDS = 60
DATA_RATE_DISTRIBUTION = "10MB_LAN,0.0%; CABLE,100.0%; FAST,0.0%; SW99,0.0%"
SW99_DATA_RATE = 50000
FAST_MODEM_DATA_RATE = 6000
HIGH_SPEED_DATA_RATE = 100000
LAN_DATA_RATE = 1000000
